/* ===================
	PARAGRAPHS
===================== */

/* WIDGETS INDEX
------------------- */
@forward 'accordions/accordions';
@forward 'block-placer/block-placer';
@forward 'call-to-action/call-to-action';
@forward 'content-placer/content-placer';
@forward 'form-placer/form-placer';
@forward 'gallery/gallery';
@forward 'image/image';
@forward 'links-files/links-files';
@forward 'layout-section/layout-section';
@forward 'portals/portals';
@forward 'stats/stats';
@forward 'text-image/text-image';
@forward 'video/video';
@forward 'view-placer/view-placer';
@forward 'WYSIWYG/wysiwyg';

@use '../../00-base/base' as *;
@use 'sass:math';

//widgets parent field
.block-field-paragraphs{
	@include edgeToEdge;
}//end field paragraphs

/* WIDGETS
--------------------- */
.widget{
	width: 100%;
	padding: 0 $siteMarginMobile;
	padding: 0 $siteMarginMobile;
	position: relative;
  @include contentStop{
    padding: 0 10rem;
  }
	//regular widgets not in layout sections
	&:not(.layout-section){
		margin-bottom: $elementSpace;
	}
	//layout-sections
	&.layout-section{
		&.background{
			padding-top: 10rem;
      padding-bottom: 1px;
			&.light-gray{
				background: $lightGrey;
			}
			&.blue{
				background: $lightBlue;
        @include darkBack($white,$yellow);
			}
      &.navy{
				background: $darkBlue;
        @include darkBack($white,$yellow);
        .field-widget-title{
          &:after{
            background-color: $yellow;
          }
        }
			}
			& + .backless{
				margin-top: 10rem;
        @include midScreen{
          margin-top: 12rem;
        }
			}
			&:last-child{
				margin-bottom: -$siteBottomSpace;
			}
		}//end background
	}//end layout section
}//end widget

