/* ===============
   SEARCH
================= */

@use '../../../00-base' as *;

.block-views-exposed-filter-blocksite-search-site-search-block {
  position: relative;
  z-index: 2;
  padding: $spaceLg 0 $spaceXs;
  max-width: 400px;
  @include auto;

  #views-form-wrapper {
    @include safeFlex(row, wrap, center, start);
    @include auto;

    .basic-form {
      width: 100%;
    }

    .advanced-form {
      width: 100%;
      margin-bottom: $spaceXs;
      
      .drawer-content {
        padding-top: $spaceXxs;
        @include safeFlex(row,wrap,center,start);
        gap: 2rem;
        .form-item{
          width: calc(50% - 1rem);
          label{
            font-size: 14px;
            text-transform: uppercase;
            font-weight: $light;
          }
        }
      }
    }

    .js-form-type-textfield {
      max-width: 100%;
      width: 100%;
      margin-bottom: $spaceXxs;

      label {
        @include visuallyHidden;
      }
    }

    .form-actions {
      margin: 0 0 0 -16px;
      width: 100%;
    }
  }
}

.site-search {
  .results-header {
    h2 {
      @include auto;
      border-bottom: 1px solid $borderRule;
      margin-bottom: $elementSpace;
      max-width: $textMax;
      padding-bottom: 1rem;
      width: 100%;
    }
  }

  .view-content,
  .view-empty {
    @include auto;
    margin-bottom: $elementSpace;
    max-width: $textMax;
    width: 100%;
  }

  .views-row {
    &:not(:last-child) {
      margin-bottom: $elementSpace;
    }

    .views-field-title {
      margin-bottom: $spaceXxs;
    }

    .views-field-body-1 {
      .search-highlight {
        background: none;
        font-weight: $heavy;
      }
    }
  }

  .pager {
    @include auto;
    max-width: $textMax;
  }
}
