/* ===============
   WEBFORM
================= */

@use '../../../00-base/00-variables/colors' as *;
@use '../../../00-base/00-variables/component-colors' as *;
@use '../../../00-base/00-variables/fonts' as *;
@use '../../../00-base/00-variables/units' as *;
@use '../../../00-base/01-mixins/form-mixins' as *;
@use '../../../00-base/01-mixins/general-mixins' as *;
@use '../../../00-base/01-mixins/layout-mixins' as *;

// Wipe browser appearance of form inputs.
input[type=text],
input[type=search],
input[type=url],
input[type=number],
textarea,
input[type="search"] {
  @include browserWipe;
}

.has-error {
  border-color: $validation;
}

.form-item {
  width: 100%;
  margin-bottom: $formElementSpace;

  label {
    @include formLabel;
  }
}

.form--required,
.js-form--required {
  position: relative;
  @include required;
}

.form-item__description {
  font-size: 2rem;
}

input + .form-item__description {
  padding-top: $spaceXs;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;

  legend {
    font-weight: $heavy;
    font-size: 2.5rem;
    margin-bottom: $spaceXs;
  }
}

.ui-autocomplete {
  .ui-dialog-off-canvas & {
    background: $siteBack;
  }

  .ui-menu-item-wrapper {
    display: block;
    font-size: 2rem !important;

    &.ui-state-active {
      background: $link;
      border-color: $link;
      color: $white;
      text-decoration: none;
      margin: 0;
    }
  }
}
