{% embed 'dripyard_base:tab' with {
  title: 'Play chess',
  icon: 'chess-knight',
} only %}
  {% block tab_panel_content %}
    <h3>Lorem ipsum dolor sit amet.</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero, at natus beatae adipisci blanditiis maiores perspiciatis assumenda laborum quas aperiam, officia dolorem repellendus, aliquid minus! Voluptatem aspernatur vitae numquam quidem!</p>
    <h3>Ullam provident reiciendis beatae consectetur.</h3>
    <p>Eligendi reiciendis voluptates sapiente asperiores tempora blanditiis corporis numquam culpa fuga mollitia fugit itaque, repellat assumenda eveniet beatae cumque nulla cum. Minima et provident placeat soluta doloribus consequatur laudantium rem.</p>
   {% endblock %}
{% endembed %}
