{% embed 'dripyard_base:tab' with {
  title: 'Cloud services ',
  icon: 'cloud',
} only %}
  {% block tab_panel_content %}
    <h3>Molestias itaque in ipsum natus.</h3>
    <p>Quos, ratione! At blanditiis amet suscipit. Non quidem sunt sint, velit ipsam recusandae ratione dolorem delectus explicabo libero. Maxime adipisci minus dolorum dolores, laborum voluptatum quibusdam harum officiis ex dolor.</p>
    <h3>Itaque asperiores aliquid tenetur iste.</h3>
    <p>Adipisci sequi recusandae porro ex tempore dolorum quidem saepe atque! Fugiat quam, nam repellendus quae eos quis distinctio et, ab architecto sequi assumenda ex culpa, voluptates facere accusantium enim beatae.</p>
    <h3>Odit iste sed ipsa ullam.</h3>
    <p>Unde rem alias vero recusandae iste neque itaque. Obcaecati accusantium illum beatae impedit earum officiis iure harum repudiandae iste eius. Minus consequatur porro neque architecto molestiae, tempore corrupti similique nemo.</p>
  {% endblock %}
{% endembed %}
