/* =================
   BLOCK SOCIAL LINKS
=================== */

@use '../../../00-base/00-variables/colors' as *;
@use '../../../00-base/00-variables/component-colors' as *;
@use '../../../00-base/01-mixins/breakpoint-mixins' as *;
@use '../../../00-base/01-mixins/style-mixins' as *;

.block--7 {
  grid-area: social;

  .platforms .platforms__link {
    svg {
      circle {
        fill: $prefooterLink;
      }
      path {
        fill: $navy;
      }
    }

    &:hover {

      svg {
        circle {
          fill: $prefooterLinkHover;
        }
        path {
          fill: $navy;
        }
      }
    }

    &:focus-visible {
      @include focusOutline(dark);
    }
  }
}

.block--social-links {

  @include onlySmall {
    .platforms {
      justify-content: center;
    }
  }

  .platforms__link {
    color: $link;

    &:hover {
      color: $hoverLink;
    }

    &:focus-visible {
      @include focusOutline(dark);
    }

    svg circle {
      fill: currentColor;
    }
  }
}
