{#
  Paragraph Links & Files wrapper that passes field values into the Links & Files SDC component.
#}

{% set links = content.field_link_multi %}
{% set files = content.field_file_multi['#items'] %}
{% set items = [] %}

{# Collect link items #}
{%- for key, link in links -%}
  {% if key|first != '#' %}
    {% set link_markup = '<a href="' ~ link['#url']|e ~ '">' ~ link['#title']|e ~ '</a>' %}
    {% set items = items|merge([{
      type: 'link',
      content: link_markup
    }]) %}
  {% endif %}
{%- endfor -%}

{# Collect file items (rendered media) #}
{%- for key, file in files -%}
  {% if key|first != '#' %}
    {% set file_markup = drupal_entity('media', file.entity.id, 'default') %}
    {% set items = items|merge([{
      type: 'file',
      content: file_markup
    }]) %}
  {% endif %}
{%- endfor -%}

{% set multi_col = items|length > 4 %}

{{ include([
  'citizen_sdc:links-files',
  '@citizen_sdc/components/03-composites/paragraphs/links-files/links-files.twig'
], {
  title: paragraph.field_widget_title.value,
  multi_col: multi_col,
  items: items
}, with_context = false, ignore_missing = true) }}
