/* ============
   HIEHG EDUCATION INSTITUTION
================ */

@use '../../../00-base' as *;

.node-high-education-institute {
  .block-field.block-title {
    text-align: left;
    max-width: $contentStop;
    margin-bottom: 6rem;

    .page-title {
      max-width: $textMax;
    }
  }

  .layout--twocol-sideleft {
    .layout__region--first {
      color: $navy;
      padding: 32px 20px;
      font-size: 2rem;
      position: relative;
      z-index: 1;
      &:after{
        content: '';
        display: block;
        width: 200vw;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background: $lightBlue2;
        z-index: -1;
      }

      .block-field {
        margin-bottom: $spaceSm;

        &:last-child {
          margin-bottom: 0;
        }

        h2.block-title {
          font-size: 13px;
          text-transform: uppercase;
          text-align: left;
          margin-bottom: $spaceXxs;
        }
      }
    }
  }

  .block-field-website {
    a.ec-outline-button {
      @include outlineButton($navy);
      &:hover,&:focus {
        color: $white;
        background: $navy;
      }
    }
  }

  .block-field-image {
    margin-bottom: 6rem;
  }
}

.node-teaser-high-education-institute {

  .node-field-title {
    a{
      display: inline-block;

      &:hover,&:focus {
        background: $lightBlueTrans;
      }
    }
  }

  .node-teaser-content {
    strong {
      font-family: $displayHeader;
      text-transform: uppercase;
      font-size: 2rem;
      margin-right: 1rem;
    }

    a {
      &:hover,&:focus {
        background: $lightBlueTrans;
      }
    }

    .field-meta-description {
      margin-bottom: $spaceXxs;
      font-size: 2rem;
    }

    .location {
      margin-bottom: $spaceXxs;
      font-size: 2rem;
    }

    .views-element-container {
      display: inline;
    }
  }
}

.node-listing-high-education-institute {
  padding-bottom: $spaceXxs;

  .node-field-image {
    margin-bottom: $spaceSm;
  }

  .node-teaser-content {
    font-size: 2rem;

    & > div {
      margin-bottom: $spaceXxs;
    }

    .node-field-title {
      margin-bottom: $spaceXxs;
      a {
        color: $blue;
        &:hover,&:focus {
          color: $black;
          background: $blackTransHover;
        }
      }
    }

    strong {
      font-family: $displayHeader;
      text-transform: uppercase;
      font-size: 2rem;
      margin-right: 1rem;
    }
    
  }
}
