/* ===============
  FOOTER MENU
================= */

@use '../../../00-base/00-variables/component-colors' as *;
@use '../../../00-base/01-mixins/animation-mixins' as *;
@use '../../../00-base/01-mixins/breakpoint-mixins' as *;

.block-menu--footer {
  width: 100%;

  @include tab {
    width: 33.33%;
  }
}

.menu--footer {
  @include tab {
    flex-direction: column;
  }

  .menu-item__link {
    display: block;
    color: $prefooterLink;

    &:hover,
    &:focus {
      color: $prefooterLinkHover;
      @include transAll(.3s);
    }
  }
}