/* ===============
	SELECT INPUT
==================== */

@use '../../../00-base' as *;

/* SELECT 2
----------------- */
// Hide optgroup (Safari bugfix).
optgroup:empty {
  display: none;
}

// Hide custom optgroup labels (iOS10 bugfix).
.select2-results__group {
  display: none !important;
}

.select2-container--default {
  width: 100% !important;
  max-width: 240px;
}

body,
.ui-dialog-off-canvas  {
  select {
    background: none;

    &:hover,
    &:focus {
      background: none;
    }
  }

  .select2-container {
    margin-bottom: 0;
  }

  .select2-container--default {

    .select2-selection--single {
      @include inputSelect;

      &:hover {
        box-shadow: inset 0 0 0 1px $inputBorderHover;
      }

      &:focus {
        outline: none;
        box-shadow: inset 0 0 0 1px $inputBorderFocus;
      }

      &[aria-expanded="true"] {
        box-shadow: inset 0 0 0 1px $inputBorderFocus;
        border-color: $inputBorderFocus;
      }

      .select2-selection__choice__remove {
        position: relative;
        z-index: 999;
      }

      .select2-selection__rendered {
        padding: 7px 4rem 7px 1.5rem;
        color: $placeColor;
        text-align: left;
        background: $siteBack;
      }

      .select2-selection__arrow {
        background-image: none;
        top: 9px;
        right: 10px;
        @include transFormAnimate;

        // Hide default select2 arrow.
        b {
          display: none;
        }

        // Custom arrow symbol.
        &:after {
          @include materialIconOutline(\e5cf);
          position: absolute;
          top: 0;
          right: 0;
          z-index: 2;
          pointer-events: none;
        }
      }
    }

    .select2-selection--multiple {
      @include inputSelect;
      padding: 8px 3.5rem 6px 1.5rem;
      position: static;
      height: 44px;

      &:after {
        content: '';
        @include safeFlex(row, no-wrap, center, center);
        @include setDimensions(24px, 24px);
        position: absolute;
        background-image: none;
        @include materialIconOutline(\e5cf);
        top: 12px;
        right: 12px;
        @include transFormAnimate;
      }

      &:hover {
        box-shadow: inset 0 0 0 1px $inputBorderHover;
      }

      &:focus {
        outline: none;
        box-shadow: inset 0 0 0 1px $inputBorderFocus;
      }

      &[aria-expanded="true"] {
        box-shadow: inset 0 0 0 1px $inputBorderFocus;
        border-color: $inputBorderFocus;
      }

      .select2-selection__rendered {
        padding: 0 2px;

        .select2-selection__choice {
          font-size: 14px;
          margin-left: 0;
          margin-right: 2px;
          padding-left: 5px;
          vertical-align: baseline;
        }
      }

      .select2-selection__choice__remove {
        border-right: 0;
        margin-right: 2px;
        padding: 0;
        position: relative;
        z-index: 999;
      }

      .select2-search--inline {
        display: inline-block;
        position: relative;
        float: none;
        height: 28px;

        input.select2-search__field {
          color: $darkGrey;
          @include placeholder;

          &:focus {
            @include placeholderFocus;
          }
        }
      }

      .select2-search--inline .select2-search__field {
        max-width: 88%;
        vertical-align: baseline;
      }

      .select2-selection__choice {
        border-radius: 0;
        background-color: $offWhite;
      }
    }

    /* ACTIVE SELECT 2 */
    &.select2-container--open,
    &.select2-container--focus {

      .select2-selection--single {
        .select2-selection__arrow {
          @include rotate(180);
        }
      }

      .select2-selection--multiple {
        border-width: 2px;

        &:after {
          @include rotate(180);
        }

        .select2-search--inline {
          input.select2-search__field {
            @include placeholder;

            &:focus {
              @include placeholderFocus;
            }
          }
        }
      }

    }

  }

}

/* SELECT 2 DROPDOWNS
---------------- */
.select2-container {
  .select2-dropdown {
    border: $inputBorderWidth solid $inputBorderFocus;
    border-radius: 0;
    border-top: 0;
    padding: 0;

    .select2-search__field {
      outline: none;
      border-color: $inputBorderFocus;
    }

    .select2-results__options {
      font-size: 16px;
    }
  }
}

.select2-container--default .select2-results__option[aria-selected="true"] {
  background-color: $offWhite;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $selectHighlight !important;
}
