{% set classes = [
  'video',
  'paragraph',
  'paragraph--type--video'
]|filter(v => v) %}

<div class="{{ classes|join(' ') }}">
  {% if title %}
    <h2 class="widget-title">{{ title }}</h2>
  {% endif %}

  <div class="widget-content">
    {% if slots is defined and slots.content %}
      {{ slots.content }}
    {% elseif video is defined %}
      {{ video|raw }}
    {% endif %}
  </div>
</div>
