/* =================
   PREHEADER REGION
=================== */

@use '../../../../00-base/00-variables/component-colors' as *;
@use '../../../../00-base/00-variables/units' as *;
@use '../../../../00-base/01-mixins/layout-mixins' as *;

.site-preheader {
  background: $preheaderBack;
  position: relative;

  .site-preheader__inner {
    padding: 8px 24px;
    max-width: $contentStop + 48px;
    @include auto;

    & > div {
      display: flex;
      justify-content: space-between;
    }
  }
}

