/* =================
   PREHEADER REGION
=================== */

@use '../../../../00-base/00-variables/component-colors' as *;
@use '../../../../00-base/00-variables/units' as *;
@use '../../../../00-base/01-mixins/layout-mixins' as *;

.site-preheader {
  background: $preheaderBack;
  position: relative;

  .site-preheader__inner {
    padding: 4px 20px;
    max-width: $contentStop;
    @include auto;
  }
}

