/* ==================
 3RD PARTY GALLERY STYLES
====================*/

@use '../../00-base/base' as *;

/* FEATHERLIGHT
------------------- */
.featherlight {
	background: $adminTransGrey;
	.featherlight-content {
		background: $siteBack;
		padding: 0px !important;
		border-bottom: 0px !important;
		margin-left: 5%;
		margin-right: 5%;

		.featherlight-close-icon {
			background: none;
			font-size: 24px;
			color: $white;
			text-shadow: 2px 2px 3px $black;
			height: 32px;
			width: 32px;
			font-family: $bodyFont;		
			&:hover,
			&:focus {
				color: $black;
				background: $white;
				text-shadow: 2px 2px 3px $black;
			}
		}//end featherlight close

		.featherlight-previous {
			position: absolute;
			left: 0;
			top: 0;
			right: auto;
			width: 15%;
			min-width: 60px;
			span {
				display: block;
				font-size: 0;
				width: 0;
				left: auto;
				right: 90%;
				
				&:before {
					position: absolute;
					top: 40px;
					left: 10%;
					@include materialIcon('arrow_back');
				}
			}
			&:hover,
			&:focus {
				background: $black;
				span {
					border-right-color: $link;
					@include transition(border-right-color, 0.3s, ease);
				}
			}
		} //end previous
		
		.featherlight-next {
			position: absolute;
			right: 0;
			top: 0;
			left: auto;
			width: 15%;
			min-width: 60px;
			span {
				display: block;
				font-size: 0;
				width: 0;
				left: 70%;
				right: auto;		
				&:before {
					position: absolute;
					top: 40px;
					@include materialIcon('arrow_forward');
				}
			}
			&:hover,
			&:focus {
				background: $black;
				span {
					border-left-color: $link;
					@include transition(border-left-color, 0.3s, ease);
				}
			}
		} //end next
		img {
			display: block;
		}
		.gallery-text {
			max-width: $textMax;
			padding: 4rem 6rem;
		}
	} //end featherlight content
} //end featherlight


/* SLIDER STYLING
-------------- */
.slick-slider {
	.slick-list {
		@include listReset;
	}

	.slick-arrow {
		z-index: 1;
		height: 50px;
    width: 50px;
		top: 50%;
    border-radius: 50%;
    &:before{
      content: none;
    }
		&.slick-prev {
			left: 10px;
      background-image: url(../images/elements/arrow-circle-left-white.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
			&:hover,
			&:focus {
        background-color: $darkBlue;
			}
      @include desk{
        left: -90px;
        background-image: url(../images/elements/arrow-circle-left.svg);
        &:hover,
			  &:focus {
          background-color: rgba($lightBlue,.2);
        }
      }
		}//end slick prev

		&.slick-next {
			right: 10px;
      background-image: url(../images/elements/arrow-circle-right-white.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
			&:hover,
			&:focus {
        background-color: $darkBlue;
			}
      @include desk{
        right: -90px;
        background-image: url(../images/elements/arrow-circle-right.svg);
        &:hover,
			  &:focus {
          background-color: rgba($lightBlue,.2);
        }
      }
		}//end slick next
	}//end slick arrow
}//end slick-slider
