/* Base colors */

$offWhite : #f6f6f6;
$iceBlue : #f2f9fb;
$darkIce : #e4f5fc;
$lightGray : #ededed;
$gray : #ccc;
$midGray : #615f6b;
$darkGray : #37363b;
$black : #000;
$lightRed : #fde5e6;
$brightRed : #dd241b;
$red : #B11116;
$lightGreen : #e4ecce;
$darkGreen : #56642c;
$darkerGreen : #4E5B29;
$blue : #0071C2;
$darkBlue : #00239C; 
$highlight : #fff01f;
$yellow : #F6CA5D;
$cream : #fdf5e4;
