/* Base colors */

$offWhite : #f6f6f6;
$iceBlue : #f2f9fb;
$darkIce : #e4f5fc;
$lightGrey : #ededed;
$grey : #ccc;
$midGrey : #615f6b;
$darkGrey : #37363b;
$black : #000;
$brightRed : #dd241b;
$red : #bf0e0e;
$highlight : #fff01f;

$gray10       : #F3F3F3;
$gray20       : #E2E2E9;
$gray50       : #D9D9D6;
$gray80       : #B6B7B7;
$gray100      : #97999B;
$gray110      : #53565A;
$gray120      : #323437;
$blue100      : #0A5EA4;
$navy10       : #EAF6FF;
$navy50       : #C4E3FC;
$navy70       : #004A86;
$navy100      : #003865;
$navy110      : #002C50;
$navy120      : #00223E;
$green10      : #E4F3D0;
$green50      : #3E7000;
$green80      : #78BE21;
$yellow100    : #F6CA5D;
