/* Base colors */

$offWhite : #f6f6f6;
$iceBlue : #f2f9fb;
$darkIce : #e4f5fc;
$cream : #e4e0cf;
$lightGrey : #ededed;
$grey : #ccc;
$midGrey : #615f6b;
$darkGrey : #383C42;
$black : #000;
$brightRed : #dd241b;
$red : #bf0e0e;
$lightBlue : #abdefc;
$blue : #1B518E;
$darkBlue : #122a61;
$navy : #002B4D;
$lightBlueTrans : rgba(171,222,252,0.2);
$blueTrans : rgba(27,81,142,0.2);
$blackTransHover : rgba(25,25,25,0.07);

/* Highlight colors */
$redText : #e71313;
$greenText : #128a00;
$yellowMarker : #fff01f;
$greenMarker : #62f962;
$pinkMarker : #fc7899;
$blueMarker : #72ccfd;
