@use 'colors' as *;
@use 'sass:color';

/* HIDDEN FROM PL SWATCHES BUT USED ON SITE */
$white : #fff;
$adminPink : #f8e8f1;

$transWhite : rgba(255, 255, 255, 0.7);
$transBlack : rgba(35, 35, 35, 0.7);
$transTint : rgba(35, 35, 35, 0.4);

/* ADMINS - do not customize per site */
$adminGold : #fcd105;
$adminWhiteGold : #fefbc7;
$adminFuchsia : #c028bb;
$adminGreen : #018901;
$adminGrey : #676767;
$adminTransGrey : rgba(92, 96, 98, .92);

/* ===========================
    COMPONENT SPECIFIC COLORS
=============================   */

/* TEXT
---------------------- */
$baseText : $darkGrey;
$link : $blue;
$activeLink : $black;
$hoverLink : $midGrey;
$breadLink : $link;
$breadLinkHover : $hoverLink;
$breadCurrent : $darkGrey;

/* BUTTONS
---------------------- */
$buttonBack : $link;
$buttonBackHover : $lightBlue;
$buttonBackActive : color.adjust($lightBlue, $lightness: -5%);
$buttonText : $white;
$buttonTextHover : $black;
$buttonTextActive : $black;
$submitBack : $link;
$submitText : $white;
$submitBackHover : $lightBlue;
$submitTextHover : $black;
$resetBack : $darkGrey;
$resetText : $white;
$resetBackHover : $lightBlue;
$resetTextHover : $black;
$cautionBack : $midGrey;
$cautionText : $white;
$cautionBackHover : $lightBlue;
$cautionTextHover : $black;

/* SYSTEM
--------------------- */
$siteBack : $white;
$unpub : $adminPink;
$headerBack : linear-gradient(to right, $darkBlue 40%, $navy 100%);
$prefooterBack : linear-gradient(to bottom right, $darkBlue 70%, #0d214d 100%);
$prefooterText : $white;
$prefooterLink : $white;
$prefooterLinkHover : $lightBlue;
$footerBack : $navy;
$footerText : $white;
$footerLink : $white;
$footerLinkHover : $lightBlue;
$borderRule : $black;
$hamburger : $black;
$hamburgerActive : $black;
$searchIcon : $white;
$searchIconHover : $lightBlue;
$searchDropBack : rgba(7, 22, 56, 0.94);
$searchDropText : $white;
$searchDropPlace : $white;
$searchDropPlaceFocus : $white;
$searchDropInputBorder : $white;
$searchDropInputFocus : $white;
$searchDropSearchIcon : $white;
$searchDropSearchIconHover : $link;
$searchClose : $black;
$searchCloseHover : $white;
$searchCloseBack : $white;
$searchCloseBackHover : $black;

/* FORMS
--------------------- */
$inputBorderColor : $borderRule;
$inputBorderHover : $borderRule;
$inputBorderFocus : $link;
$placeColor : $adminGrey;
$placeFocusColor : $placeColor;
$validation : $brightRed;
$checkbox : $link;
$checkboxHover : $link;
$checkboxBackHover : $lightGrey;
$checkboxChecked : $link;
$checkboxCheckedHover : $midGrey;
$checkboxCheckedBack : $link;
$checkboxCheckedBackHover : $midGrey;
$selectArrow : $midGrey;
$selectHighlight : $link;
$progressBar : $grey;
$progressMarker : $grey;
$progressMarkerText : $black;
$progressMarkerActive : $darkGrey;
$progressMarkerActiveText : $white;
$sliderTrack : $grey;
$sliderTrackHover : $link;
$sliderKnob : $white;
$datepickerHeader : $red;
$datepickerHeaderElement : $white;
$datepickerDays : $black;
$datepickerDaysBack : $lightGrey;
$datepickerDate : $darkGrey;
$datepickerDateBack : $white;
$datepickerDateBorder : $lightGrey;
$datepickerCurrent : $darkGrey;
$datepickerCurrentBack : $adminWhiteGold;
$datepickerSelected : $black;
$datepickerSelectedBack : $darkIce;
$detailsWrapperBack : $offWhite;

/* TABLES
---------------- */
$tableHeaderBack : $darkGrey;
$tableHeaderText : $white;
$tableRowHeaderBack : $grey;
$tableRowHeaderText : $black;
$rowBorder : $borderRule;
$evenRowBack : $siteBack;
$evenRowText : $baseText;
$oddRowBack : $lightGrey;
$oddRowText : $baseText;

/* GALLERIES / MODALS
----------------------------- */
$sliderArrowBack : $transBlack;
$modalBack : $adminTransGrey;
$modalContent : $white;
$modalContentBack : $siteBack;
$modalHeader : $white;
$modalHeaderBack : $darkGrey;
$modalHeaderClose : $white;
$modalHeaderCloseHover : $grey;
$modalGalButton : $white;
$modalGalButtonHover : $link;
$modalGalButtonBackHover : $black;
$modalGalButtonShadow : $transBlack;
$modalGalButtonShadowHover : $transBlack;

/* NAVIGATION
---------------------- */
//desktop
$mmTopLink : $white;
$mmTopLinkHover : $lightBlue;
$mmTopBackHover : $blue;
$mmTopActive : $lightBlue;
$mmTopActiveHover : $white;
$mmChildLink : $black;
$mmChildLinkHover : $hoverLink;
$mmChildActive : $black;
$mmChildActiveHover : $hoverLink;
$mmDropdown : $lightBlue;

//mobile
$mmMobileDrop : $white;
$mmMobileDropBorder : $black;
$mmMobileItemBorder : $borderRule;
$mmMobileTop : $link;
$mmMobileTopBack : $white;
$mmMobileTopExpanded : $hoverLink;
$mmMobileTopBackExpanded : $lightGrey;
$mmMobileChild : $link;
$mmMobileChildActive : $white;

/* MENU BLOCK (Sidebar)
--------------------- */
$menuBlockTitle : $black;
$menuBlockTitleHover : $hoverLink;
$menuBlockTitleBack : $lightGrey;
$menuBack : $siteBack;
$menuTop : $link;
$menuTopHover : $hoverLink;
$menuTopActive : $black;
$menuTopActiveHover : $hoverLink;
$menuChild : $link;
$menuChildHover : $hoverLink;
$menuChildActive : $link;
$menuChildActiveHover : $hoverLink;

/* WIDGET ANCHORS
---------------------- */
$anchors : $white;
$anchorsBack : $link;
$anchorsHover : $transWhite;
$anchorsRules : $white;

/* PAGERS
--------------------- */
$pagerBorder : $borderRule;
$pagerBack : transparent;
$pagerNumber : $link;
$pagerNumberBack : transparent;
$pagerNumberHover : $black;
$pagerNumberBackHover : $lightBlue;
$pagerNumberActive : $white;
$pagerNumberActiveBack : $link;
$pagerNumberActiveHover : $white;
$pagerNumberActiveBackHover : $hoverLink;
$pagerLink : $link;
$pagerLinkBack : transparent;
$pagerLinkHover : $hoverLink;
$pagerLinkBackHover : transparent;
$resultsText : $baseText;

/* ACCORDIONS
------------------- */
$accordHeader : $baseText;
$accordHeaderHover : $white;
$accordHeaderBorder : $darkGrey;
$accordHeaderBorderHover : $darkGrey;
$accordHeaderBack : $siteBack;
$accordHeaderBackHover : $darkGrey;
$accordContentBack : $siteBack;
$accordContentBorder : transparent;
$accordActive : $white;
$accordActiveHover : $white;
$accordActiveBorder : $black;
$accordActiveBorderHover : $darkGrey;
$accordActiveBack : $black;
$accordActiveBackHover : $darkGrey;

/* MESSAGES
------------------ */
$messageText : $white;
$messageBack : $darkGrey;
$messageGoodBorder : $adminGreen;
$messageWarningBorder : $adminGold;
$messageErrorBorder : $adminFuchsia;

/* EMBEDDED DOC ICONS
------------------- */
$fileIcon: $midGrey;
