@use 'colors' as *;

/* HIDDEN FROM PL SWATCHES BUT USED ON SITE */
$white : #fff;
$adminPink : #f8e8f1;

$transWhite : rgba(255, 255, 255, 0.7);
$transBlack : rgba(35, 35, 35, 0.7);
$transTint : rgba(35, 35, 35, 0.4);

/* ADMINS - do not customize per site */
$adminGold : #fcd105;
$adminWhiteGold : #fefbc7;
$adminFuchsia : #c028bb;
$adminGreen : #018901;
$admingray : #676767;
$adminTransgray : rgba(92, 96, 98, .92);

/* ===========================
    COMPONENT SPECIFIC COLORS
=============================   */

/* TEXT
---------------------- */
$baseText : $darkGray;
$link : $blue;
$activeLink : $black;
$hoverLink : $midGray;
$breadLink : $link;
$breadLinkHover : $hoverLink;
$breadCurrent : $darkGray;

/* BUTTONS
---------------------- */
$buttonBack : $red;
$buttonBackHover : $gray;
$buttonBackActive : darken($gray, 5%);
$buttonText : $white;
$buttonTextHover : $black;
$buttonTextActive : $black;
$submitBack : $red;
$submitText : $white;
$submitBackHover : $gray;
$submitTextHover : $black;
$resetBack : $darkGray;
$resetText : $white;
$resetBackHover : $gray;
$resetTextHover : $black;
$cautionBack : $midGray;
$cautionText : $white;
$cautionBackHover : $gray;
$cautionTextHover : $black;

/* SYSTEM
--------------------- */
$siteBack : $white;
$unpub : $adminPink;
$headerBack : $white;
$prefooterBack : $cream;
$prefooterText : $black;
$prefooterLink : $link;
$prefooterLinkHover : $black;
$footerBack : $red;
$footerText : $white;
$footerLink : $white;
$footerLinkHover : $transWhite;
$borderRule : $black;
$modalBack : $adminTransgray;
$modalContent : $baseText;
$modalContentBack : $siteBack;
$modalHeader : $white;
$modalHeaderBack : $darkGray;
$modalHeaderClose : $white;
$modalHeaderCloseHover : $gray;
$modalGalButton : $white;
$modalGalButtonHover : $link;
$modalGalButtonBackHover : transparent;
$modalGalButtonShadow : $transBlack;
$modalGalButtonShadowHover : $transBlack;
$hamburger : $red;
$hamburgerActive : $black;
$searchIcon : $red;
$searchIconHover : $darkGray;
$searchDropBack : $red;
$searchDropText : $white;
$searchDropPlace : $white;
$searchDropPlaceFocus : $white;
$searchDropInputBorder : $white;
$searchDropInputFocus : $white;
$searchDropSearchIcon : $white;
$searchDropSearchIconHover : $transWhite;
$searchClose : $white;
$searchCloseHover : $transWhite;
$searchCloseBack : transparent;
$searchCloseBackHover : transparent;

/* FORMS
--------------------- */
$inputBorderColor : $borderRule;
$inputBorderHover : $borderRule;
$inputBorderFocus : $link;
$placeColor : $admingray;
$placeFocusColor : $placeColor;
$validation : $brightRed;
$checkbox : $borderRule;
$checkboxHover : lighten($red, 8%);
$checkboxBackHover : lighten($red, 8%);
$checkboxChecked : $red;
$checkboxCheckedHover : lighten($red, 8%);
$checkboxCheckedBack : $red;
$checkboxCheckedBackHover : lighten($red, 8%);
$selectArrow : $midGray;
$selectHighlight : $link;
$progressBar : $gray;
$progressMarker : $gray;
$progressMarkerText : $black;
$progressMarkerActive : $darkGray;
$progressMarkerActiveText : $white;
$sliderTrack : $gray;
$sliderTrackHover : $link;
$sliderKnob : $white;
$datepickerHeader : $red;
$datepickerHeaderElement : $white;
$datepickerDays : $black;
$datepickerDaysBack : $lightGray;
$datepickerDate : $darkGray;
$datepickerDateBack : $white;
$datepickerDateBorder : $lightGray;
$datepickerCurrent : $darkGray;
$datepickerCurrentBack : $adminWhiteGold;
$datepickerSelected : $black;
$datepickerSelectedBack : $darkIce;
$detailsWrapperBack : $offWhite;

/* TABLES
---------------- */
$tableHeaderBack : $red;
$tableHeaderText : $white;
$tableRowHeaderBack : $gray;
$tableRowHeaderText : $black;
$rowBorder : $borderRule;
$evenRowBack : $lightRed;
$evenRowText : $baseText;
$oddRowBack : $siteBack;
$oddRowText : $baseText;

/* SUPERFISH
---------------------- */
//desktop
$sfTopLink : $black;
$sfTopLinkHover : $white;
$sfTopBackHover : $red;
$sfTopActive : $link;
$sfTopActiveHover : $white;
$sfChildLink : $white;
$sfChildLinkHover : $transWhite;
$sfChildActive : $black;
$sfChildActiveHover : $transWhite;
$sfDropdown : $red;

//mobile
$sfMobileDrop : $red;
$sfMobileDropBorder : $white;
$sfMobileItemBorder : $white;
$sfMobileTop : $white;
$sfMobileTopBack : $red;
$sfMobileTopExpanded : $white;
$sfMobileTopBackExpanded : $red;
$sfMobileChild : $white;
$sfMobileChildActive : $transWhite;

/* MENU BLOCK (Sidebar)
--------------------- */
$menuBlockTitle : $white;
$menuBlockTitleHover : $transWhite;
$menuBlockTitleBack : $red;
$menuBack : $lightRed;
$menuTop : $black;
$menuTopHover : $midGray;
$menuTopActive : $midGray;
$menuTopActiveHover : $black;
$menuChild : $black;
$menuChildHover : $midGray;
$menuChildActive : $midGray;
$menuChildActiveHover : $black;

/* WIDGET ANCHORS
---------------------- */
$anchors : $white;
$anchorsBack : $link;
$anchorsHover : $transWhite;
$anchorsRules : $white;

/* PAGERS
--------------------- */
$pagerBorder : $borderRule;
$pagerBack : transparent;
$pagerNumber : $link;
$pagerNumberBack : transparent;
$pagerNumberHover : $hoverLink;
$pagerNumberBackHover : transparent;
$pagerNumberActive : $white;
$pagerNumberActiveBack : $link;
$pagerNumberActiveHover : $white;
$pagerNumberActiveBackHover : $hoverLink;
$pagerLink : $link;
$pagerLinkBack : transparent;
$pagerLinkHover : $hoverLink;
$pagerLinkBackHover : transparent;
$resultsText : $baseText;

/* ACCORDIONS
------------------- */
$accordHeader : $white;
$accordHeaderHover : $white;
$accordHeaderBorder : $red;
$accordHeaderBorderHover : lighten($red,8%);
$accordHeaderBack : $red;
$accordHeaderBackHover : lighten($red,8%);
$accordContentBack : $siteBack;
$accordContentBorder : transparent;
$accordActive : $white;
$accordActiveHover : $white;
$accordActiveBorder : $red;
$accordActiveBorderHover : lighten($red,8%);
$accordActiveBack : $red;
$accordActiveBackHover : lighten($red,8%);

/* MESSAGES
------------------ */
$messageText : $white;
$messageBack : $darkGray;
$messageGoodBorder : $adminGreen;
$messageWarningBorder : $adminGold;
$messageErrorBorder : $adminFuchsia;

/* EMBEDDED DOC ICONS
------------------- */
$fileIcon: $midGray;
