@use 'colors' as *;
@use 'sass:color';

$adminPink : #f8e8f1;

$transWhite : rgba(255, 255, 255, 0.7);
$transBlack : rgba(35, 35, 35, 0.7);
$transTint : rgba(35, 35, 35, 0.4);

/* ADMINS - do not customize per site */
$adminGold : #fcd105;
$adminWhiteGold : #fefbc7;
$adminFuchsia : #c028bb;
$adminGreen : #018901;
$adminGrey : #676767;
$adminTransGrey : rgba(92, 96, 98, .92);

/* ===========================
    COMPONENT SPECIFIC COLORS
=============================   */

/* TEXT
---------------------- */
$baseText : $black;
$link : $tealText;
$activeLink : $purple;
$hoverLink : $blue;
$breadLink : $link;
$breadLinkHover : $hoverLink;
$breadCurrent : $black;

/* BUTTONS
---------------------- */
$buttonBack : $blue;
$buttonBackHover : $purple;
$buttonBackActive : color.adjust($purple, $lightness: -5%);
$buttonText : $white;
$buttonTextHover : $white;
$buttonTextActive : $white;
$submitBack : $blue;
$submitBackHover : $purple;
$submitText : $white;
$submitTextHover : $white;
$resetBack : $purple;
$resetBackHover : $blue;
$resetText : $white;
$resetTextHover : $white;
$cautionBack : $grey;
$cautionBackHover : $black;
$cautionText : $black;
$cautionTextHover : $white;

/* SYSTEM
--------------------- */
$siteBack : $white;
$unpub : $adminPink;
$headerBack : $blue;
$prefooterBack : $offWhite;
$prefooterText : $black;
$prefooterLink : $link;
$prefooterLinkHover : $hoverLink;
$footerBack : $black;
$footerText : $white;
$footerLink : $white;
$footerLinkHover : $teal;
$borderRule : $midGrey;
$hamburger : $white;
$hamburgerActive : $white;
$searchIcon : $white;
$searchIconHover : $white;
$searchDropBack : rgba(35, 35, 35, 0.97);
$searchDropText : $white;
$searchDropPlace : $white;
$searchDropPlaceFocus : $white;
$searchDropInputBorder : $white;
$searchDropInputFocus : $white;
$searchDropSearchIcon : $white;
$searchDropSearchIconHover : $link;
$searchClose : $black;
$searchCloseHover : $white;
$searchCloseBack : $white;
$searchCloseBackHover : $black;

/* FORMS
--------------------- */
$inputBorderColor : $borderRule;
$inputBorderHover : $borderRule;
$inputBorderFocus : $link;
$placeColor : $adminGrey;
$placeFocusColor : $placeColor;
$validation : $brightRed;
$checkbox : $link;
$checkboxHover : $link;
$checkboxBackHover : $lightGrey;
$checkboxChecked : $link;
$checkboxCheckedHover : $midGrey;
$checkboxCheckedBack : $link;
$checkboxCheckedBackHover : $midGrey;
$selectArrow : $midGrey;
$selectHighlight : $link;
$progressBar : $grey;
$progressMarker : $grey;
$progressMarkerText : $black;
$progressMarkerActive : $darkGrey;
$progressMarkerActiveText : $white;
$sliderTrack : $grey;
$sliderTrackHover : $link;
$sliderKnob : $white;
$datepickerHeader : $red;
$datepickerHeaderElement : $white;
$datepickerDays : $black;
$datepickerDaysBack : $lightGrey;
$datepickerDate : $darkGrey;
$datepickerDateBack : $white;
$datepickerDateBorder : $lightGrey;
$datepickerCurrent : $darkGrey;
$datepickerCurrentBack : $adminWhiteGold;
$datepickerSelected : $black;
$datepickerSelectedBack : $lightGrey;
$detailsWrapperBack : $offWhite;

/* TABLES
---------------- */
$tableHeaderBack : $blue;
$tableHeaderText : $white;
$tableRowHeaderBack : $grey;
$tableRowHeaderText : $black;
$rowBorder : $borderRule;
$evenRowBack : $siteBack;
$evenRowText : $baseText;
$oddRowBack : $lightGrey;
$oddRowText : $baseText;

/* NAVIGATION
---------------------- */
//desktop
$sfTopLink : $white;
$sfTopLinkHover : $teal;
$sfTopBackHover : transparent;
$sfTopActive : $teal;
$sfTopActiveHover : $white;
$sfChildLink : $white;
$sfChildLinkHover : $teal;
$sfChildActive : $teal;
$sfChildActiveHover : $white;
$sfDropdown : color.adjust($blue, $lightness: -5%);

//mobile
$sfMobileDrop : color.adjust($blue, $lightness: -5%);
$sfMobileDropBorder : $blue;
$sfMobileItemBorder : $borderRule;
$sfMobileTop : $white;
$sfMobileTopBack : color.adjust($blue, $lightness: -5%);
$sfMobileTopExpanded : $white;
$sfMobileTopBackExpanded : $blue;
$sfMobileChild : $white;
$sfMobileChildActive : $teal;

/* MENU BLOCK (Sidebar)
--------------------- */
$menuBlockTitle : $blue;
$menuBlockTitleHover : $blue;
$menuBlockTitleBack : transparent;
$menuBack : $siteBack;
$menuTop : $link;
$menuTopHover : $hoverLink;
$menuTopActive : $link;
$menuTopActiveHover : $hoverLink;
$menuChild : $link;
$menuChildHover : $hoverLink;
$menuChildActive : $link;
$menuChildActiveHover : $hoverLink;

/* PAGERS
--------------------- */
$pagerBorder : $borderRule;
$pagerBack : transparent;
$pagerNumber : $link;
$pagerNumberBack : transparent;
$pagerNumberHover : $hoverLink;
$pagerNumberBackHover : transparent;
$pagerNumberActive : $white;
$pagerNumberActiveBack : $link;
$pagerNumberActiveHover : $white;
$pagerNumberActiveBackHover : $hoverLink;
$pagerLink : $link;
$pagerLinkBack : transparent;
$pagerLinkHover : $hoverLink;
$pagerLinkBackHover : transparent;
$resultsText : $baseText;

/* ACCORDIONS
------------------- */
$accordHeader : $baseText;
$accordHeaderHover : $black;
$accordHeaderBorder : $midGrey;
$accordHeaderBorderHover : $midGrey;
$accordHeaderBack : $siteBack;
$accordHeaderBackHover : $offWhite;
$accordContentBack : $siteBack;
$accordContentBorder : transparent;
$accordActive : $black;
$accordActiveHover : $midGrey;
$accordActiveBorder : $midGrey;
$accordActiveBorderHover : $midGrey;
$accordActiveBack : $siteBack;
$accordActiveBackHover : $lightGrey;

/* MESSAGES
------------------ */
$messageText : $white;
$messageBack : $darkGrey;
$messageGoodBorder : $adminGreen;
$messageWarningBorder : $adminGold;
$messageErrorBorder : $adminFuchsia;

/* EMBEDDED DOC ICONS
------------------- */
$fileIcon : $black;
