/* =============
   NEWS NODE
================ */

@use '../../../00-base' as *;

.node-news {
  @include auto;
  max-width: $contentStop;

  .block-field-image {
    opacity: 0;
    @include animation('fadeIn 1.5s 1 forwards');
  }

  .block-field.block-title {
    max-width: 100%;

    h1 {
      text-align: left;
    }
  }

  .block-created {
    @include metaText;
  }
}
