/* =============
   NEWS NODE
================ */

@use '../../../00-base' as *;

.node-news {
  @include auto;
  max-width: $contentStop;

  .block-field.block-title {
    max-width: 100%;

    h1 {
      text-align: left;
    }
  }

  .block-created {
    @include metaText;
  }
}

.node-teaser-news {
  .node-field-title {
    font-size: 3.25rem;
    line-height: 1.25;
    a {
      &:hover,&:focus {
        background: $lightBlueTrans;
      }
    }
  }
}