/* ===================
	LAYOUT SECTION
===================== */

@use '../../../00-base/base' as *;

.paragraph--type--layout-section{
	.widget-section{
		position: relative;
		z-index: 4;
		max-width: $contentStop;
		@include auto;
	}
}//end layout section paragraph

