/* ================
	 MESSAGES
============== */
@use '../../00-base/base' as *;

.drupal-message {
	padding: $spaceMd 2.5rem $spaceMd 5.5rem;
	margin: $spaceMd 0;
	background-image: none;
	font-size: 2.25rem;
	background-color: $messageBack;
	color: $messageText;
	border-left: 1rem solid;
	box-shadow: none;
	max-width: $contentStop;
	@include auto;

	a {
		color: $adminGold;
		
		&:hover,
		&:focus {
			opacity: .6;
		}
	}
	
	&.error-message,
	&.warning-message,
	&.status-message {
		
		&:before {
			position: relative;
			top: 0.7rem;
		}
	}

	&.error-message {
		border-color: $messageErrorBorder;
	
		&:before {
			@include materialIconOutline(\e888);
			color: $messageErrorBorder;

		}
	}

	&.warning-message {
		border-color: $messageWarningBorder;
	
		&:before {
			@include materialIconOutline(\e002);
			color: $messageWarningBorder;
		}
	}

	&.status-message {
		border-color: $messageGoodBorder;
	
		&:before {
			@include materialIconOutline(\e5ca);
			color: $messageGoodBorder;
		}
	}
}

body.logged-in:not(.path-admin) {

	.main-page-content {

		&.toolbar-bottom .drupal-message {
			width: 100vw;
			max-width: 100vw;
			margin: 0;
			padding: 20px 0;
			text-align: center;
			position: fixed;
			bottom: 33px;
			left: 0;
			z-index: 499;
		}
	}

	&.gin--vertical-toolbar.toolbar-fixed {

		.main-page-content {

			&.toolbar-bottom .drupal-message {
				width: calc(100vw - 65px);
				left: 65px;
			}
		}
	}

	&.gin--vertical-toolbar.toolbar-fixed[data-toolbar-menu=open] {

		.main-page-content {

			&.toolbar-bottom .drupal-message {
				width: calc(100vw - 255px);
				left: 255px;
			}
		}
	}

	&.gin--horizontal-toolbar.toolbar-fixed,
	&.gin--classic-toolbar.toolbar-fixed {

		.main-page-content {

			&.toolbar-bottom .drupal-message {
				width: 100vw;
				left: 0;
			}
		}
	}
}