<div id="{{ wrapper_id }}" class="educationusa-ai-greeter-wrapper ai-greeter">
  <div class="ai-greeter__chat-wrapper ai-greeter__chat-wrapper--locked">
    {{ deepchat }}
    <div class="ai-greeter__chat-overlay" aria-hidden="true">{{ 'Select a role to start'|t }}</div>
  </div>
</div>
