/* ===============
   VIDEO WIDGET
================= */

@use '../../../00-base' as *;

.paragraph--type--video {
  @include textConstrain;

  article {
    @include animation('fadeIn 1.5s 1');
  }
}
