/* ================
	 SEARCH
=================== */
@use '../../../00-base/base' as *;

///mixin placeholder
%searchBlockPlaceholder {
	$placeTint: 1;

	&::-webkit-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &::-webkit-input-placeholder {
		opacity: $placeTint;
		color: $searchText;
	}
}

///mixin - placeholderFocus
%searchBlockPlaceholderFocus {
	$placeFocusTint: .2;
	&::-webkit-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &::-webkit-input-placeholder {
		opacity: $placeFocusTint;
		color: $searchText;
	}
}


#site-search-form {
	//search box input
	.js-form-item-site-search-api-fulltext {
		padding: 1.5 0;
		width: 100%;
		margin-bottom: 0;
		max-width: 800px;
		@include auto;
		label {
			@include visuallyHidden;
		}
		input {
			width: 100%;
			background: transparent;
			padding: 8px 4px;
			border: none;
			color: $searchText;
			border: 1px solid $borderRule;
			border-radius: 0;
			@extend %searchBlockPlaceholder;
			//prevent yellow chrome autofill inset
			&:-webkit-autofill {
				-webkit-box-shadow: 0 0 0 1000px $borderRule inset;
			}
			@include tab {
				font-size: 2.5rem;
			}
			&:hover {
				box-shadow: inset 0 0 0 1px $borderRule;
			}
			&:focus {
				outline: none;
				border-color: $inputBorderFocus;
				box-shadow: inset 0 0 0 1px $inputBorderFocus;
				@extend %searchBlockPlaceholderFocus;
			}
		}//end input
	}//end fulltext search

	//search submit button
	.form-actions {
		max-width: 800px;
		@include auto;
		position: relative;
		.form-submit.button {
			position: absolute;
			top: -46px;
			right: 5px;
			height: 32px;
			width: 32px;
			background: transparent;
			z-index: 2;
			text-indent: -9000px;
			cursor: pointer;
			padding: 0;
			min-width: 0;
			border: 0;
			@include tab {
				top: -48px;
				right: 12px;
			}
			&:focus,
			&:hover {
				border: 0;
				box-shadow: none;
				outline: none;
				& + .material-icons {
					color: $searchIconHover;
				}
			}
		}//end form submit
		.material-icons {
			color: $searchIcon;
			font-size: 3rem;
			position: absolute;
			top: -45px;
			right: 8px;
			cursor: pointer;
			@include tab {
				font-size: 3.5rem;
				top: -48px;
				right: 12px;
			}
		}//end i
	}//end form-actions
}//end search block form