/* ===============
   PORTALS WIDGET
================= */

@use '../../../00-base/base' as *;

.paragraph--type--portals{
	.field-portals{
		margin-bottom: -$spaceLg;
		@include safeFlex(row,wrap,center,start);
		@include bleed(padding,40px);
		& > div{
			margin-bottom: $spaceLg;
			max-width: 440px;
			@include tab{
				width: 50%;
			}
			@include desk{
				width: 33.33%;
			}
		}
		a{
			text-decoration: none;
			&:hover,&:focus{
				.field-image img{
					border-color: $borderRule;
					opacity: .7;
					@include transAll(.3s);
				}
				.field-headline{
					text-decoration: underline;
				}
			}
		}
		.field-image{
			margin-bottom: $spaceXxs;
			img{
				border: 1px solid $offWhite;
			}
		}
		.field-headline{
			@include heading4;
			text-align: center;
		}
		.field-long-text{
			margin-top: $spaceXxs;
			font-size: 2rem;
		}
	}//end field portals
}//end bios group
