/* ===============
  VIEW PLACER WIDGET
================= */

@use '../../../00-base' as *;

.paragraph--type--view-placer {
  .widget-title {
    text-align: left;
    font-size: 3.5rem;
  }

  .field-link {
    margin-top: $spaceLg;
    a {
      @include arrowLink;
      & {
        padding-top: 1rem;
        border-top: 1px solid $darkBlue;
      }
    }
  }
}
