/* ===============
  VIEW PLACER WIDGET
================= */

@use '../../../00-base/base' as *;
@use '../../../01-parts/buttons/button-mixins' as *;

.paragraph--type--view-placer{
	.wrapper{
		max-width: 100% !important;
	}
	.field-link{
		margin-top: $spaceLg;
		a{
			@include button;
			margin-bottom: 0;
		}
	}
}//end social media
