/* ===============
  FONTS
=================== */

/*  FAMILIES
-------------------- */
$header       : brandon-grotesque, sans-serif;
$baseFont     : "Open Sans", sans-serif;
$serif        : Georgia, "Times New Roman", Times, serif;

/*  FAMILIES
-------------------- */
$regular: 400;
$semi   : 500;
$heavy  : 700;
$xHeavy : 900;

/*  SIZES
-------------------- */
$baseSize: 1.8rem;
$formLabelSize: 2rem;
$formLabelWeight: 400;
$button: 1.6rem;
$socialIcons: 3.2rem;