/* =============
	 BREADCRUMBS
------------------- */
@use '../../../00-base' as *;

.block-system-breadcrumb-block {
  margin-bottom: $spaceMd !important;
}

.breadcrumb {
  max-width: $contentStop;
  @include auto;

  .role-anonymous & {
    margin-top: $spaceXs;
    border-top: 1px solid $navy;
    padding: $spaceXs 0 0;
  }

  ol {
    @include listReset;
  }

  li {
    display: inline-block;
    color: $breadCurrent;
    font-size: 2rem;

    a {
      padding-right: .5rem;
      @include transAll(.3s);
      color: $breadLink;

      &:hover,
      &:focus {
        background-color: $lightBlueTrans;
      }
    }

    &:not(:last-of-type) {
      &:after {
        content: "\00BB";
      }
    }
  }
}
