/* =================
   NODE BASIC PAGE DEFAULT
=================== */

@use '../../../00-base/00-variables/units' as *;
@use '../../../00-base/01-mixins/layout-mixins' as *;
@use '../../../00-base/01-mixins/style-mixins' as *;

.node-content--page {
  margin-bottom: $elementSpace;

  #node-section-1,#node-section-2 {
    max-width: $contentStop;
    margin: 0 auto $elementSpace;
  }

  .block--system-breadcrumb-block {
    margin-bottom: $elementSpace;
  }

  .block-field--field-image {
    margin-bottom: $elementSpace;

    img {
      @include image100W;
    }
  }

  .block-field--body {
    max-width: 100%;
  }
}
