/* ================
	MODALS
================== */
@use '../../00-base/' as *;

.modal,.modal-lead {
  display: inline;
}
.ec-modal-trigger{
	@include browserWipe;

  & {
    display: inline;
    background-color: transparent;
    color: $link;
    border: 0;
    padding: 0;
    margin: 0;
    font-size: 2rem;
    text-align: left;
    cursor: pointer;

    &:hover,&:focus {
      color: $hoverLink;
      background-color: $darkIce;
    }
  }
}
.modal-wrapper {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0;
	padding: 0;
	z-index: 999;
	background: rgba(7,22,56,.8);
	width: 100%;
	height: 100%;
	border: 0;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: opacity .35s ease;
	.modal-inner {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: auto;
		padding: 2.5rem;
		width: 100%;
		height: 100vh;
		max-width: none;
		max-height: none;
		box-sizing: border-box;
		background: $darkBlue;
		border: 0;
		overflow-y: auto;
		transform: translateX(100%);
		transition: transform .45s ease;
		transition-delay: 0s;
    color: $white;
		@include tab{
			width: 66.67%;
			min-width: 420px;
		}
		& >.contextual .trigger {
			right: -12px;
		}
		.modal-close {
			background: 0 0;
			font-size: 16px;
			color: $white;
			height: 40px;
			width: 40px;
			top: 7px;
			right: 20px;
			position: absolute;
			border: 0;
			font-family: $bodyFont;
			padding: 0;
			z-index: 9999;
			&:focus,
			&:hover {
				background-color: $lightBlue;
        color: $navy;
			}
		}//end modal close inner
	} //end modal-inner
	.modal-header {
		position: relative;
    margin-bottom: $spaceSm;
    border-bottom: 1px solid $white;

		h2 {
			@include heading4;
      & {
        font-family: $displayHeader;
        padding-bottom: $spaceXxs;
        text-transform: uppercase;
      }
		}

		//end block title
		.modal-close {
			border: 1px solid transparent;
			display: block;
			position: absolute;
			border-radius: 50%;
			top: 15px;
			right: 20px;
			height: 22px;
			width: 22px;
			&:after {
				@include materialIconOutline(\e5cd);
			}
			&:hover,
			&:focus {
				opacity: .8;
				border-color: $white;
				outline: none;
			}
		}//end modal header close
	} //end modal-header
	.modal-content {
		overflow-y: scroll;
		overflow-x: hidden;
		color: $modalContent;
		.modal-intro {
			margin-bottom: $spaceMd;
			&>*:last-child {
				margin-bottom: 0;
			}
		}
		input:focus {
			cursor: pointer;
		}
	} //end modal-content
	&.active-modal {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
		.modal-inner {
			transform: translateX(0);
			transition-delay: .15s;
		}
	}
	&.close-modal {
		opacity: 0;
		visibility: visible;
		pointer-events: none;
		transition-delay: .45s;
		.modal-inner {
			transform: translateX(100%);
			transition-delay: 0s;
		}
	}
}//end modal-wrapper

html.modal-open {
	overflow: hidden;
}

body.modal-open {
	position: fixed;
	width: 100%;
	overflow: visible;
}
