/* ============
   PAGES GLOBAL
=============== */

@use '../../00-base' as *;

html > body:not(.is-front):not(.path-node) {
  .layout-content {
    @include auto;
    max-width: $contentStop + px(40);
    padding: 0 $siteMarginMobile $siteBottomSpace;
  }

  #block-citizen-dart-content {
    padding-top: $elementSpace;
  }

  .block-page-title-block {
    margin-bottom: $elementSpace;
  }
}
