{% set classes = [
  'canvas-image',
  border_radius ? 'canvas-image--radius-' ~ border_radius,
] %}
<div{{ attributes.addClass(classes) }}>

  {% if image_link %}
    <a class="canvas-image__link" href="{{ image_link }}">
  {% endif %}

  {{ include('dripyard_base:image-or-media', {
    image,
    width,
    loading,
    alt,
    }, with_context = false) }}

  {% if image_link %}
    </a>
  {% endif %}

</div>
