/* ============
   ADVISING CENTER
================ */

@use '../../../00-base' as *;

.node-type-advising-center {
  .overflow-guard {
    overflow-x: hidden;
  }
}

.node-advising-center {
  .block-field.block-title {
    text-align: left;
    max-width: $contentStop;
    margin-bottom: 6rem;

    .page-title {
      max-width: $textMax;
    }
  }

  .layout__region--second {
    color: $navy;
    padding: 32px 20px;
    font-size: 2rem;
    position: relative;
    z-index: 1;
    &:after{
      content: '';
      display: block;
      width: 200vw;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: $lightBlue2;
      z-index: -1;
    }

    .block-field {
      margin-bottom: $spaceSm;

      &:last-child {
        margin-bottom: 0;
      }

      h2.block-title {
        font-size: 13px;
        text-transform: uppercase;
        text-align: left;
        margin-bottom: $spaceXxs;
        letter-spacing: 5%;
      }
    }
  }

  .block-field-fair-images {
    margin-bottom: 6rem;
  }

  .block-field-website {
    a.ec-outline-button {
      @include outlineButton($navy);
      &:hover,&:focus {
        background-color: $navy;
        color: $white;
      }
    }
  }
}

.node-teaser-advising-center {
  align-items: center;

  .node-field-title {
    a{
      display: inline-block;
      text-decoration: none !important;

      &:hover,&:focus {
        background: $lightBlueTrans;
        text-decoration: underline !important;
      }
    }
  }

  .node-teaser-content {
    strong {
      font-family: $displayHeader;
      text-transform: uppercase;
      font-size: 2rem;
      margin-right: 1rem;
    }
    a {
      text-decoration: underline;

      &:hover,&:focus {
        text-decoration: none;
        background: $lightBlueTrans;
      }
    }
  }
}

.node-listing-advising-center {
  .node-teaser-content {
    font-size: 2rem;

    & > div {
      margin-bottom: $spaceXxs;
    }

    .node-field-title {
      margin-bottom: $spaceXs;
      a {
        color: $blue;
        &:hover,&:focus {
          color: $black;
          background: $blackTransHover;
        }
      }
    }

    strong {
      font-family: $displayHeader;
      text-transform: uppercase;
      font-size: 2rem;
      margin-right: 1rem;
    }
    
    .country-demographics {
      display: none;
      & > div {
        margin-bottom: $spaceXxs;
      }

      .demographic-label {
        margin-top: $spaceSm;
        padding-top: $spaceXs;
        border-top: 1px solid $blue;
        margin-bottom: $spaceXxs;
        font-weight: $heavy;
        font-size: 2.25rem;
      }
    }
  }
}
