/* ===============
  SECONDARY MENU
================= */

@use '../../../00-base/00-variables/component-colors' as *;
@use '../../../00-base/01-mixins/animation-mixins' as *;
@use '../../../00-base/01-mixins/breakpoint-mixins' as *;

.menu--secondary {
  @include tab {
    column-gap: 16px;
    font-size: 2rem;
  }
  
  a {
    display: block;
    color: $preheaderLink;

    &:hover,
    &:focus {
      color: $preheaderLinkHover;
      @include transAll(.3s);

    }
  }
}