/* ==============
	 SUPERFISH
================ */
@use '../../../00-base/base' as *;

/* SUPERFISH BLOCK
------------------------ */
#superfish-main-toggle{
	@include safeFlex(column,nowrap,center,center);
  background: $yellow;
	span{
		display: none;
	}
  &:hover,&:focus{
    text-decoration: none;
    background: darken($yellow,5%);
  }
	&:before{
		@include materialIcon(\e5d2);
		display: block;
		color: $hamburger;
    font-size: 4rem;
		line-height: 4rem;
	}
	&.sf-expanded{
		&:before{
			@include materialIcon(\e5cd);
			color: $hamburgerActive;
      font-size: 4rem;
		  line-height: 4rem;
		}
	}
}//end superfish-main-toggle

/* GLOBAL COLORS
	----------------- */
.sf-main li{
	a{
		color: $sfChildLink;
		text-align: left;
		&:hover,&:focus{
			color: $sfChildLinkHover;
		}
	}
	&.active-trail > a{
		color: $sfChildActive;
		&:hover,&:focus{
			color: $sfChildActiveHover;
		}
	}
}//end sf-main li

/* DESK FISH
---------------- */
.block-superfishmain ul.sf-menu.sf-horizontal{
	@include safeFlex(row,wrap,end,null);
	list-style-type: none;
	//override defult floats
	li{
		float: none;
	}
	//top level links
	& > li{
		&:not(.sfHover){
			& > ul{
				display: none !important;
			}
		}
		&:hover{
			& > a{
				color: $sfTopLinkHover;
			}
		}
		& > a,& > span.nolink{
			color: $sfTopLink;
			padding: 2.5rem 1rem !important;
			font-size: 2.5rem;
			display: block;
			position: relative;
			&:hover,&:focus{
				color: $sfTopLinkHover;
			}
      &.menuparent{
        &:after{
          @include materialIconOutline(\e5cf);
          font-size: 30px;
          display: inline-block;
          position: relative;
          top: 8px;
        }
      }
		}
		&.active-trail{
			&:hover > a{
				color: $sfTopActiveHover;
			}
			& > a{
				color: $sfTopActive;
				&:hover,&:focus{
					color: $sfTopActiveHover;
				}
			}
		}//end active trail
	}//end top level li

	//top level dropdowns
	& > li.sf-depth-1{
		//dropdown wrapper
		& > ul{
			padding: 1.5rem 0 0;
			top: 100%;
      left: -1rem;
			min-width: 280px;
			background: $sfDropdown;
      border-bottom: 1px solid $borderRule;
			& > li{
				padding: 0;
				&:last-of-type{
					padding: 0 0 2.5rem;
				}
			}
		}
	}//end main dropdown

	//level 2 links
	a.sf-depth-2{
		line-height: 1;
		padding: 1rem 2rem;
    font-size: 2.25rem;
	}

}//sf-horizontal

/* MOBILE FISH
----------------- */
.block-superfishmain ul.sf-menu.sf-accordion{
	&.sf-expanded{
		position: absolute;
		left: -$siteMarginMobile !important;
		top: calc(100% + 20px) !important;
		text-align: left;
		width: calc(100% + $siteMarginMobile*2);
		overflow: hidden;
		background-color: $sfMobileDrop;
    background-image: url(../images/elements/mobile-menu-back.svg);
    background-repeat: no-repeat;
    background-size: 3598px;
    background-position: 0 -930px;
    border-bottom: 1px solid $borderRule;
	}

	// global mobile links
	a{
		padding: 2rem 4rem 2rem 2rem;
		line-height: 1.15;
	}

	//parents, expanders & dropdowns
	&.sf-accordion-with-buttons li{
		position: relative;
		& > .sf-accordion-button{
			width: 60px;
			height: 60px;
			padding: 0;
			text-indent: 9000px;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 1;
			background: transparent;
			//expander toggle
			&:after{
				@include materialIconOutline(\e5cf);
        font-size: 30px;
        @include rotate(-90);
				position: absolute;
				right: 0;
				top: 0;
				@include safeFlex(row,no-wrap,center,center);
				width: 60px;
        height: 60px;
				text-indent: 0;
				@include transFormAnimate;
			}
		}//end accordion button

		&.menuparent{;
			a{
				display: block;
				&:not(.sf-accordion-button){
					width: 100%;
				}
			}
		}//end menupareny
		&.sf-expanded > .sf-accordion-button{
			background: transparent;
			&:after{
				@include rotate(0);
				@include materialIconOutline(\e5cf);
        font-size: 30px;
				position: absolute;
				@include safeFlex(row,no-wrap,center,center);
				width: 60px;
        height: 60px;
				text-indent: 0;
			}
		}
	}//end li

	li.sf-expanded > ul{
		padding: 0 0 2.5rem;
	}

	// top level
	li.sf-depth-1{
		& > a{
			color: $sfMobileTop;
      font-size: 26px;
      line-height: 26px;
      &.is-active{
        color: $sfTopActive;
      }
		}
    &.active-trail{
      a.sf-accordion-button{
        color: $sfTopActive;
      }
    }
		&.sf-expanded{
			& > a{
				color: $sfMobileTopExpanded;
			}
			& > ul{
				padding: .5rem 0;
			}
		}
	}//end level 1

	//level 2
	li.sf-depth-2{
		&.active-trail > a{
			color: $sfMobileChildActive;
		}
		//inset level2 and those below
		& > a{
			color: $sfMobileChild;
      font-size: 2.25rem;
      line-height: 1.33;
			padding: 10px 30px 10px 40px;
		}
	}//end level 2
}//end sf-menu.sf-accordion

