/* =================
   PREFOOTER REGION
=================== */

@use '../../../../00-base/00-variables/component-colors' as *;
@use '../../../../00-base/00-variables/units' as *;
@use '../../../../00-base/01-mixins/breakpoint-mixins' as *;
@use '../../../../00-base/01-mixins/layout-mixins' as *;

.site-prefooter {
  background: $prefooterBack;
  color: $prefooterText;

  .modal-content {
    color: $baseText;
  }
}

.site-prefooter__inner {
  min-height: 293px;
  padding: 32px $siteMargin;
  max-width: $contentStop + 40px;
  @include auto;
  position: relative;

  @include tab {
    padding: 40px $siteMargin 50px;
    min-height: 0;
  }

  & > div {
    @include tab {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto auto;
      grid-template-areas:
        "about  menu newsletter"
        "social menu newsletter";
      gap: 4rem;
    }

    & > * h2.block-title {
      margin-bottom: 1.5rem;

      @include tab {
        text-align: left;
      }
    }
  }
}
