/* base colors */

$lightBlue    : #0075CB;
$blue         : #1B5FB9;
$darkBlue     : #002D62;
$navy         : #082144;
$lightGrey    : #F0F0F0;
$grey         : #DDDDDD;
$contrastGrey : #999999;
$midGrey      : #615f6b;
$green        : #00703C;
$brightGreen  : #11C332;
$yellow       : #FFDD00;
$black        : #000;


