@use 'colors' as *;

/* HIDDEN FROM PL SWATCHES BUT USED ON SITE */
$white         : #fff;
$adminPink     : #f8e8f1;

$transWhite    : rgba(255,255,255,0.7);
$transBlack    : rgba(35,35,35,0.7);
$transTint     : rgba(35,35,35,0.4);

/* ADMINS - do not customize per site */
$adminGold      : #fcd105;
$adminWhiteGold : #fefbc7;
$adminFuchsia   : #c028bb;
$adminGreen     : #018901;
$adminGrey      : #676767;
$adminTransGrey : rgba(92,96,98,.92);


/* ===========================
    COMPONENT SPECIFIC COLORS
=============================   */

/* TEXT
---------------------- */
$baseText          : $black;
$link              : $blue;
$activeLink        : $darkBlue;
$hoverLink         : $green;
$breadLink         : $green;
$breadLinkHover    : $blue;
$breadCurrent      : $black;

/* BUTTONS
---------------------- */
$buttonBack        : $brightGreen;
$buttonBackHover   : $lightGrey;
$buttonBackActive  : darken($lightGrey, 5%);
$buttonText        : $black;
$buttonTextHover   : $black;
$buttonTextActive  : $black;
$submitBack        : $brightGreen;
$submitText        : $black;
$submitBackHover   : $lightGrey;
$submitTextHover   : $black;
$resetBack         : $lightBlue;
$resetText         : $white;
$resetBackHover    : $lightGrey;
$resetTextHover    : $black;
$cautionBack       : $darkBlue;
$cautionText       : $white;
$cautionBackHover  : $lightGrey;
$cautionTextHover  : $black;

/* SYSTEM
--------------------- */
$siteBack                  : $white;
$unpub                     : $adminPink;
$headerBack                : $white;
$prefooterOneBack          : $white;
$prefooterOneText          : $white;
$prefooterOneLink          : $white;
$prefooterOneLinkHover     : $lightGrey;
$prefooterTwoBack          : $darkBlue;
$prefooterTwoText          : $white;
$prefooterTwoLink          : $white;
$prefooterTwoLinkHover     : $lightGrey;
$footerBack                : $white;
$footerText                : $black;
$footerLink                : $link;
$footerLinkHover           : $hoverLink;
$borderRule                : $grey;
$hamburger                 : $black;
$hamburgerActive           : $black;
$searchIcon                : $green;
$searchIconHover           : $link;
$searchText                : $contrastGrey;

/* FORMS
--------------------- */
$inputBorderColor         : $borderRule;
$inputBorderHover         : $borderRule;
$inputBorderFocus         : $link;
$placeColor               : $adminGrey;
$placeFocusColor          : $placeColor;
$validation               : $blue;
$checkbox                 : $link;
$checkboxHover            : $link;
$checkboxBackHover        : $lightGrey;
$checkboxChecked          : $link;
$checkboxCheckedHover     : $lightGrey;
$checkboxCheckedBack      : $link;
$checkboxCheckedBackHover : $lightGrey;
$selectArrow              : $black;
$selectHighlight          : $lightBlue;
$datepickerHeader         : $blue;
$datepickerHeaderElement  : $white;
$datepickerDays           : $black;
$datepickerDaysBack       : $lightGrey;
$datepickerDate           : $navy;
$datepickerDateBack       : $white;
$datepickerDateBorder     : $lightGrey;
$datepickerCurrent        : $grey;
$datepickerCurrentBack    : $adminWhiteGold;
$datepickerSelected       : $black;
$datepickerSelectedBack   : $lightGrey;
$detailsWrapperBack       : $lightGrey;

/* TABLES
---------------- */
$tableHeaderBack     : $lightBlue;
$tableHeaderText     : $white;
$tableRowHeaderBack  : $grey;
$tableRowHeaderText  : $black;
$rowBorder           : $borderRule;
$evenRowBack         : $siteBack;
$evenRowText         : $baseText;
$oddRowBack          : $lightGrey;
$oddRowText          : $baseText;


/* SUPERFISH
---------------------- */
//desktop
$sfTopLink            : $darkBlue;
$sfTopLinkHover       : $link;
$sfTopBackHover       : $siteBack;
$sfTopActive          : $link;
$sfTopActiveHover     : $lightBlue;
$sfChildLink          : $darkBlue;
$sfChildLinkHover     : $link;
$sfChildActive        : $link;
$sfChildActiveHover   : $darkBlue;
$sfDropdown           : $siteBack;

//mobile
$sfMobileDrop            : $white;
$sfMobileTop             : $darkBlue;
$sfMobileTopExpanded     : $link;
$sfMobileChild           : $darkBlue;
$sfMobileChildActive     : $link;

/* PAGERS
--------------------- */
$pagerBorder                : $borderRule;
$pagerBack                  : transparent;
$pagerNumber                : $link;
$pagerNumberBack            : transparent;
$pagerNumberHover           : $hoverLink;
$pagerNumberBackHover       : transparent;
$pagerNumberActive          : $white;
$pagerNumberActiveBack      : $link;
$pagerNumberActiveHover     : $white;
$pagerNumberActiveBackHover : $hoverLink;
$pagerLink                  : $link;
$pagerLinkBack              : transparent;
$pagerLinkHover             : $hoverLink;
$pagerLinkBackHover         : transparent;


/* ACCORDIONS
------------------- */
$accordHeader             : $baseText;
$accordHeaderHover        : $white;
$accordHeaderBorder       : $lightBlue;
$accordHeaderBorderHover  : $darkBlue;
$accordHeaderBack         : $siteBack;
$accordHeaderBackHover    : $lightGrey;

/* MESSAGES
------------------ */
$messageText          : $white;
$messageBack          : $black;
$messageGoodBorder    : $adminGreen;
$messageWarningBorder : $adminGold;
$messageErrorBorder   : $adminFuchsia;


/* EMBEDDED DOC ICONS
------------------- */
$fileIcon : $darkBlue;

