/* ====================
   FONT VARIABLES
==================== */
@use 'colors' as *;
@use 'component-colors' as *;
@use 'units' as *;

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/MaterialIcons.woff2) format('woff2'),
	url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Material Icons Outlined';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/MaterialIconsOutlined.woff2) format('woff2'),
	url(../fonts/MaterialIconsOutlined-Regular.otf) format('opentype');;
}

/*  FAMILIES
-------------------- */
$header       : "Crimson Pro", serif;
$bodyFont     : "Cabin", sans-serif;
$system       : "Inter", sans-serif;

/*  WEIGHTS
-------------------- */
$regular: 400;
$heavy:  700;
$xHeavy: 800;

/*  SIZES
-------------------- */
$baseSize: 2.5rem;
$formLabelSize: 2.5rem;
$formLabelWeight: 700;
$button: 2rem;
$socialIcons: 4rem;

//h1 sizes
$h1Sm: 6rem;
$h1Mid: 8rem;
$h1Lg: 8rem;

//h2 sizes
$h2Sm: 4.5rem;
$h2Md: 6rem;
$h2Lg: 4rem;

//h3 sizes
$h3Sm: 4rem;
$h3Mid: 4.5rem;

//h4 sizes
$h4Sm: 3.5rem;

//h5 sizes
$h5Sm: 3.15rem;

//h6 sizes
$h6Sm: 2.75rem;

/* FONT AND TYPE MIXINS
--------------------------- */
@mixin headerGlobals{
	font-weight: $xHeavy;
	font-family: $header;
	margin: 0;
	font-feature-settings: "liga", "dlig";
}

@mixin heading1{
	@include headerGlobals;
	font-size: $h1Sm;
  line-height: 1;
	@include desk{
		font-size: $h1Mid;
    line-height: 1.0625
	}
	@include contentStop{
		font-size: $h1Lg;
	}
}

@mixin heading2 {
	@include headerGlobals;
  line-height: 1.25;
	font-size: $h2Sm;
	@include desk{
		font-size: $h2Md;
    line-height: 1.08;
	}
	@include contentStop{
		font-size: $h2Lg;
	}
}

@mixin heading3{
	@include headerGlobals;
  line-height: 1.125;
	font-size: $h3Sm;
	@include desk{
    line-height: 1.22;
		font-size: $h3Mid;
	}
}

@mixin heading4{
	@include headerGlobals;
  line-height: 1.21;
	font-size: $h4Sm;
}

@mixin heading5{
	@include headerGlobals;
	font-size: $h5Sm;
}

@mixin heading6{
	@include headerGlobals;
	font-size: $h6Sm;
}

@mixin blockTitle{
	@include heading2;
	max-width: $textMax;
	margin-bottom: $spaceLg;
  padding-bottom: 3rem;
  position: relative;
  &:after{
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: $green;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

@mixin centerBlockTitle{
  @include blockTitle;
  text-align: center;
  @include auto;
  &:after{
    left: calc(50% - 30px);
  }
}

@mixin inlineBlockTitle{
	font-family: $bodyFont;
  font-size: $baseSize;
  font-weight: $heavy;
	margin: 0 1rem 0 0;
	display: inline-block;
	& + *{
		display: inline;
	}
}

@mixin metaText{
	font-size: 2rem;
	font-style: italic;
}

%materialSetup{
	font-style: normal;
  font-weight: 400;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}
@mixin materialIcon($icon){
	content: '#{$icon}';
	font-family: 'Material Icons';
  @extend %materialSetup;
}
@mixin materialIconOutline($icon){
	content: '#{$icon}';
	font-family: 'Material Icons Outlined';
  @extend %materialSetup;
}

.material-icons {
	font-family: 'Material Icons';
}

.material-icons-outlined {
	font-family: 'Material Icons Outlined';
}
