{% set teaser_content %}
  {% if position %}
    <div class="node-teaser__position">
      {{ position }}
    </div>
  {% endif %}
{% endset %}

{{ include('citizen_sdc:node-teaser-base', {
  attr: attr,
  modifier_class: 'bios',
  title: title,
  url: url,
  title_attr: title_attr,
  image: image,
  content: teaser_content,
}, with_context = false) }}
