/* =================
   NODE LANDING PAGE DEFAULT
=================== */

@use '../../../00-base/00-variables/units' as *;
@use '../../../00-base/01-mixins/layout-mixins' as *;
@use '../../../00-base/01-mixins/style-mixins' as *;

.node-content--landing-page {
  margin-bottom: $elementSpace;

  .block-field--field-image {
    margin-bottom: $elementSpace;

    img {
      @include image100W;
    }
  }

  .block-field--title {
    max-width: $contentStopPadding;
    padding: 0 $siteMargin;
    margin: 0 auto $elementSpace;

    .node-title {
      text-align: center;
    }
  }

  #node-section-2 {
    max-width: $contentStopPadding;
    padding: 0 $siteMargin;
    @include auto;
  }

  .block-field--body {
    max-width: $textMax;
    margin: 0 auto $elementSpace;
  }
}
