/* =================
   HORIZONTAL RULE WIDGET
==================== */

@use '../../../00-base' as *;

.paragraph--type--horizontal-rule {
  &.text {
    hr {
      @include textConstrain;
    }
  }

  hr {
    border-top: 1px solid $borderRule;
  }
}
