/* ===============
   CTAs WIDGET
================== */

@use '../../../00-base' as *;

.paragraph--type--call-to-action{
  max-width: 1094px;
  @include auto;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 86px 20px 50px;
  //change layout and padding in a layout wide enough on a screen large enough
  .widget-section > .layout--onecol &,
  .widget-section > .layout--twocol-section--50-50 &,
  .widget-section > .layout--twocol-section--67-33 > .layout__region--first &,
  .widget-section > .layout--twocol-section--75-25 > .layout__region--first &,
  .widget-section > .layout--twocol-section--33-67 > .layout__region--second &,
  .widget-section > .layout--twocol-section--25-75 > .layout__region--second &,
  .node-support-book &{
    @include tab{
      @include safeFlex(row,wrap,start,center);
      padding: 80px 109px 90px;
    }
  }
  &:after{
    @include fullBack(darken($red, 5%));
    z-index: -4;
  }
  .widget-wrapper{
    width: 100%;
    .cta-text{
      color: $white;
      margin-bottom: $spaceMd;
      @include tab{
        margin-bottom: 0;
      }
    }
    h2.widget-title{
      margin-bottom: $spaceMd;
      text-align: left;
      font-size: 24px;
    }
    @include tab{
      @include safeFlex(row,wrap,start,center);
      .cta-text{
        width: 60%;
        padding-right: 20px;
      }
      .cta-text-right{
        width: 40%;
      }
    }
  }
  .cta-image-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    mix-blend-mode: multiply;
    .cta-image{
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
      z-index: -2;
      img{
        width: 100%;
        height: 100%;
        filter: grayscale(100%);
        position: relative;
        z-index: -3;
        object-fit: cover;
        opacity: .6;
      }
    }//end field media image
  }//end article
  .field-link a{
    @include outlineButton($white);
    margin-bottom: 0;
  }
}//end call to action
