/* ==============
	 SUPERFISH
================ */
@use '../../../00-base' as *;

/* MOBILE MENU TOGGLE
  ------------------ */
#main-nav-toggle {
  height: 40px;
  width: 40px;
  position: absolute;
  top: -4px;
  right: -8px;
  @include safeFlex(column,nowrap,center,center);
  @include menuShift {
    display: none;
  }

  span {
    display: none;
  }

  &:before {
    @include materialIcon(\e5d2);
    color: $hamburger;
    line-height: 28px;
    font-size: 32px;
  }

  &.open {
    &:before {
      @include materialIcon(\e5cd);
      color: $hamburgerActive;
    }
  }
}

/* GLOBAL 
------------ */
#block-main-menu ul.menu-main-navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 497;
  font-family: $displayHeader;
  font-weight: $heavy;
  letter-spacing: 1%;
  ul {
    list-style-type: none;
    display: none;
  }
  li {
    list-style: none;
    position: relative;
  }
}

/* MOBILE-SPECIFIC
------------------ */
@include mobileMenu {
  ul.menu-main-navigation:not(.accordion-open) {
    display: none;
  }
  #block-main-menu ul.menu-main-navigation {
    background: $mmMobileDrop;
    border-bottom: 8px solid $mmMobileDropBorder;
    left: -$siteMarginMobile !important;
    overflow: hidden;
    position: absolute;
    top: calc(100% + 20px) !important;
    text-align: left;
    width: calc(100% + $siteMarginMobile * 2);

    a.menu-item-expand {
      background: transparent;
      display: block;
      height: 60px;
      padding: 0;
      position: absolute !important;
      right: 0;
      text-align: left;
      text-indent: -9000px;
      top: 0;
      width: 60px;
      z-index: 1;

      &:after {
        @include materialIconOutline(\e5cf);
        @include safeFlex(row, no-wrap, center, center);
        @include setDimensions(60px, 60px);
        @include transFormAnimate;
        position: absolute;
        right: 10px;
        top: 0;
        text-indent: 0;
      }
      @include desk {
        display: none;
      }
    }

    .open {
      & > a.menu-item-expand {
        &:after {
          @include rotate(180);
        }
      }
    }
    // top level mobile
    li.item-level-1 {
      &:not(:last-child) {
        border-bottom: 1px solid $mmMobileItemBorder;
      }

      & > a,
      & > span.nolink {
        background: $mmMobileTopBack;
        color: $mmMobileTop;
        padding: 2.5rem 4rem;
        line-height: 1.15;
        font-size: 2.25rem;
        display: block;
        position: relative;

        &:hover,&:focus {
          text-decoration: none;
        }
      }

      &.open {
        & > a,
        & > span.nolink {
          color: $mmMobileTopExpanded;
          background: $mmMobileTopBackExpanded;
        }
      }

      ul {
        padding-bottom: 3rem;
        padding-left: 2rem;
        background-color: $mmMobileTopBackExpanded;
      }
    }

    //second level & below mobile
    li.item-level-2 {

      a {
        line-height: 1;
        font-size: 2rem;
        padding: 1.5rem 2rem;
        color: $white;
        display: block;
        &:hover,&:focus {
          text-decoration: none;
        }

        &.menu-item-expand {
          height: 40px;
          &:after {
            height: 40px; 
            font-size: 21px;
          }
        }
      }
    }
    li.item-level-3 {
      a {
        font-size: 1.75rem;
      }
    }
  }
}

/* DESK FISH
---------------- */
@include menuShift {
  #block-main-menu ul.menu-main-navigation {
    @include safeFlex(row, wrap, end, null);
    margin-bottom: 1rem;

    // top level
    li.item-level-1 {
      &:hover,&:focus {
        & > a {
          color: $mmTopLinkHover;
          text-decoration: none;
          &:not(.menuparent):before {
            width: 100%;
            transition: width .3s ease-out;
          }
        }
      }

      &.open {
        & > a.menuparent {
          &.menuparent {
            &:after {
              transform: rotate(180deg);
            }
          }
        }
        & > ul {
          display: block;
          padding: 1.5rem 0 3rem;
          z-index: 10;
        }
      }

      &.menu-item--active-trail {
        &:hover > a,&:focus > a {
          color: $mmTopActiveHover;
          &:not(.menuparent):before  {
            background: $white;
          }
        }

        & > a {
          color: $mmTopActive;
        }
      }

      &:last-child {
        & > a {
          & > .for {
            display: none;
          }
        }
      }

      & > a,
      & > span.nolink {
        color: $mmTopLink;
        padding: 1rem 1.5rem;
        line-height: 1.15;
        font-size: 17px;
        display: block;
        position: relative;
        & > .for {
          margin-right: .75rem;
          font-style: italic;
          font-weight: $regular;
          display: inline-block;
        }

        &:not(.menuparent):before {
          content: '';
          display: block;
          width: 0;
          height: 2px;
          background: $mmTopLinkHover;
          position: absolute;
          top: 100%;
          left: 0;
        }

        &.menu-item-expand {
          display: none;
        }

        &.menuparent {
          &:after {
            content: '';
            display: inline-block;
            margin-left: 1rem;
            height: 8px;
            width: 8px;
            background-image: none;
            background-image: url(../images/elements/menu-caret.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            @include transFormAnimate;
          }
        }
      }

      //first level dropdown
      & > ul {
        padding: 0 0 2.5rem;
        background: $mmDropdown;
        left: 0;
        padding: 2.5rem 0 0;
        position: absolute;
        top: 100%;
        width: 200px;
      }
    }

    // second level and below
    li.item-level-2 {
      &.active-trail {
        color: $mmChildActive;
      }

      &:hover,&:focus {
        color: $mmChildActiveHover;
      }

      &.open {
        & > a.menuparent{

          &:after {
            transform: translateX(6px);
          } 
        }

        & > ul {
          display: block;
        }

        &:first-child {
          & > ul {
            top: -10px;
          }
        }
      }

      ul {
        background: $mmDropdown;
        left: 100%;
        margin: 0;
        padding: 5px 0 15px;
        position: absolute;
        top: 0px;
        min-width: 200px;

        &.right-to-left {
          left: auto;
          right: 100%;
        }
      }

      a {
        display: inline-block;
        line-height: 1.2;
        padding: 1.5rem 2.5rem;
        font-size: 1.75rem;
        color: $mmChildLink;

        &:hover,
        &:focus {
          color: $mmChildLinkHover
        }

        &.menuparent {
          &:after {
            content: '';
            display: inline-block;
            position: relative;
            right: 0;
            margin-left: 1rem;
            height: 8px;
            width: 8px;
            background-image: none;
            background-image: url(../images/elements/menu-caret-right.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            transition: transform 0.3s ease-out; 
          }
        }

        &.menu-item-expand {
          display: none;
        }
      }
    }
  }
}
