/* =================
	SITE HEADER
=================== */

@use '../../../00-base' as *;

.site-header {
  padding: 20px $siteMarginMobile;
  background: $headerBack;
  .micro--microsite-one &{
    background: $navy100;
  }
  .micro--another-microsite &{
    background: $yellow100;
  }
  & > div {
    max-width: $contentStop;
    @include auto;
    @include safeFlex(row, wrap, null, center);
    position: relative;
    .contextual {
      & > button, & > ul.contextual-links {
        display: none;
      }
    }
  }
}

/* BRANDING BLOCK PLACEMENT
------------------- */
.block-system-branding-block {
  // Leave room for search toogle and menu hamburger on mobile.
  width: calc(100% - 70px);
  position: relative;
  z-index: 10;

  @include desk {
    width: 240px;
    padding: 16px 0;
  }

  a {
    img {
      max-width: 160px;
      margin-right: 4px;

      @include desk {
        max-width: 100%;
      }
    }
  }
}

/* SEARCH BLOCK PLACEMENT
------------------- */
.block-site-search:not(.views-block) {
  position: static !important;
  display: inline-block;
  text-align: right;

  @include desk {
    width: calc(100% - 240px);
  }

  .contextual {
    display: none !important;
    position: static;
  }

  .t-search {
    position: absolute;
    top: 0;
    right: 10px;
    @include desk {
      top: 0;
    }
  }
}

/* MAIN NAVIGATION BLOCK
------------------------ */
.block-superfishmain,.block-superfishmicrosite-one-main,.block-superfishanother-microsite-main {

  @include onlyMobile {

    &.contextual-region {
      position: static;
    }

    #superfish-main-toggle {
      height: 32px;
      width: 32px;
      position: absolute;
      top: 2px;
      right: 50px;
    }
  }

  @include desk {
    width: 100%;
    padding-left: 280px;
    position: absolute !important;
    bottom: -20px;
    right: 0;
  }
}
