/* =================
	SITE HEADER
=================== */

@use '../../../00-base' as *;

.site-header {
  padding: 20px $siteMarginMobile;
  background: $headerBack;
  //border-bottom: 10px solid $cream;

  & > div {
    max-width: $contentStop;
    @include auto;
    @include safeFlex(row, wrap, null, center);
    position: relative;
  }
}

/* BRANDING BLOCK PLACEMENT
------------------- */
.block-system-branding-block {
  // Leave room for search toogle and menu hamburger on mobile.
  width: calc(100% - 70px);
  position: relative;
  z-index: 10;

  @include desk {
    width: 200px;
  }

  a {
    img {
      max-width: 160px;
      margin-right: 4px;

      @include desk {
        max-width: 100%;
      }
    }
  }
}

/* SECONDARY MENU
---------------- */
.block-secondary-menu {
  position: absolute;
  top: 0;
  right: 220px;
}

/* SEARCH BLOCK PLACEMENT
------------------- */
.block-site-search:not(.views-block) {
  position: static !important;
  display: inline-block;
  text-align: right;

  .contextual {
    display: none !important;
  }

  .t-search {
    position: absolute;
    top: 18px;
    right: 160px;

    @include desk {
      top: 4px;
    }
  }
}

.block-gtranslate-block {
  position: absolute;
  top: 0;
  right: 0;
  select {
    padding: 4px 6px;
  }
}

#block-main-menu {
  h2.block-title {
    color: $white;
  }
  @include menuShift {
    bottom: -10px;
    padding-left: 236px;
    position: absolute;
    right: 0;
    .logged-in & {
      padding-left: 180px;
    }
  }
}
