/* =================
   NEWSLETTER-BLOCK
=================== */
@use '../../../00-base' as *;

.block-newsletter {
  .field.body {
    margin-bottom: $spaceMd;
    & > *:last-child {
      margin-bottom: 0;
    }

    &.has-modal {
      margin-bottom: 0;

      & > *:nth-last-child(2) {
        display: inline;
      }
    }

    a {
      text-decoration: underline;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }

  .form-embed {
    @include onlySmall {
      max-width: 350px;
      @include auto;
    }
  }


  #mc_embed_signup {
    background: none;
    font: inherit;
    width: 100%;

    label {
      display: none;
    }

    .indicates-required{
      display: none;
    }

    #mc-embedded-subscribe-form {
      padding: 0;
    }


    #mce-EMAIL {
      @include textInput;
      border-radius: 0;
    }

    #mc-embedded-subscribe {
      @include submitButton;
      min-width: 0;
      width: 130px;
      border-radius: 0;
    }
  }

  .ctct-form-custom {
    .grecaptcha-badge {
      display: none !important;
    }
  }
}
