/* ===============
	PASSWORD INPUT
==================== */

@use '../../../../00-base/00-variables/colors' as *;
@use '../../../../00-base/00-variables/component-colors' as *;
@use '../../../../00-base/01-mixins/general-mixins' as *;

.js-form-type--password {
    position: relative;

    .password__reset {
      position: absolute;
      top: 12px;
      right: 0;
      font-size: 2rem;
    }

    #show-password {
      position: absolute;
      top: 58px;
      right: 12px;
      font-size: 1.4rem;
      color: $midGray;
      @include buttonWipe;

      &:hover,
      &:focus {
        color: $hoverLink;
        text-decoration: underline;
      }
    }

    input#edit-pass {
      padding-right: 56px;
    }

    .form-item__description {
      padding-top: 1rem;
    }
  }
