/* ===============
   GALLERY WIDGET
==================== */

@use '../../../00-base' as *;

.paragraph--type--gallery {
  max-width: 100%;

  .lightbox {
    .gallery-wrapper {
      @include safeFlex(row, wrap, center, start);
      @include bleed(padding, 32px);
      & {
        margin-bottom: -$spaceMd;        
      }

      // Hide the content before lightbox.
      .featherlight-hidden {
        display: none;
      }

      // Lightbox-specific.
      .image-gal {
        margin-bottom: $spaceMd;
        overflow: hidden;
        cursor: pointer;
        width: 100%;
        max-width: 308px;

        img {
          width: 100%;
          @include imageHover;
        }
      }
    }
  }

  .slider {
    @include textConstrain;

    .field-image-multi {
      @include edgeToEdge;
      width: calc(100% + 40px);

      @include tab {
        @include edgeReset;
        width: 100%;
      }

      img {
        width: 100%;
      }
    }
  }
}
