{#
	 DRUPAL-ISH: This template is inherited into the _page.twig template which is inherited into Drupal.
#}
<section class="prefooter-wrapper" role="complementary" aria-labelledby="prefooter-section">
	<h2 class="visually-hidden" id="prefooter-section">This is the prefooter section</h2>
	<div class="prefooter-inner">	
		{% block prefooterContent %}{% endblock %}
	</div>
</section>

