/* =============
   BUTTONS WIDGET
================ */

@use '../../../00-base' as *;
@use 'sass:color';

.paragraph--type--buttons {

  .field-eyebrow {
    @include eyebrow;
    @include auto;
    & {
      margin-bottom: $spaceXs;
      max-width: 1022px;
    }
  }

  .field-link-multi {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 32px;

    & > div {
      width: 100%;
      max-width: 320px;
    }
  }

  a {
    padding: 5rem;
    background: $midBlue;
    color: $white;
    font-weight: $heavy;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    transition: 
      background .3s ease-in-out
      transform .3s ease-in-out;

    svg {
      transition: transform .3s ease-in-out;
    }

    &:hover,
    &:focus {
      background: color.adjust($midBlue,$lightness: -8%);
      text-decoration: none;
      svg {
        transform: rotate(45deg);
      }
    }

    &:active {
      transform: scale3d(1.02,1.02,1.02);;
      background: color.adjust($midBlue,$lightness: -12%);
    }

    span {
      max-width: 100px;
      font-size: 2.75rem;
    }
  }
}
