{% set classes = [
  'view-placer',
  'paragraph',
  'paragraph--type--view-placer',
]|filter(v => v) %}

<div class="{{ classes|join(' ') }}">
  {% if title %}
    <h2 class="widget-title">{{ title }}</h2>
  {% endif %}

  {% if view %}
    <div class="view-placer__view">
      {{ view }}
    </div>
  {% endif %}

  {% if link %}
    <div class="view-placer__link">
      {{ link }}
    </div>
  {% endif %}
</div>
