/* ===============
  VIEW PLACER WIDGET
================= */

@use '../../../00-base/00-variables/units' as *;
@use '../../../00-base/01-mixins/button-mixins' as *;

.paragraph--type--view-placer {
  .widget-title {
    text-align: left;
  }

  .view-placer__link {
    margin-top: $spaceLg;

    a {
      @include button;
      margin-bottom: 0;
    }
  }
}
