/* ================
	 MESSAGES
============== */

@use '../00-variables/colors' as *;
@use '../00-variables/component-colors' as *;
@use '../00-variables/units' as *;
@use '../01-mixins/layout-mixins' as *;
@use '../01-mixins/type-mixins' as *;

.drupal-message {
  padding: $spaceMd 2.5rem $spaceMd 5.5rem;
  margin: $spaceMd 0;
  background-image: none;
  font-size: 2.25rem;
  background-color: $messageBack;
  color: $messageText;
  border-left: 1rem solid;
  box-shadow: none;
  max-width: $contentStop;
  @include auto;

  &:before {
    position: relative;
    top: .7rem;
  }

  a {
    color: $messageLink;

    &:hover,
    &:focus {
      opacity: .6;
    }
  }

  &.drupal-message--error-message {
    border-color: $messageErrorBorder;

    &:before {
      @include materialIconOutline(\e888);
      color: $messageErrorBorder;
    }
  }

  &.drupal-message--warning-message {
    border-color: $messageWarningBorder;

    &:before {
      @include materialIconOutline(\e002);
      color: $messageWarningBorder;
    }
  }

  &.drupal-message--status-message {
    border-color: $messageGoodBorder;

    &:before {
      @include materialIconOutline(\e5ca);
      color: $messageGoodBorder;
    }
  }
}
