/* ============
   PAGES GLOBAL
=============== */

@use '../00-variables/units' as *;
@use '../01-mixins/layout-mixins' as *;

html > body:not(.is-front):not(.path-node) {
  .layout-content {
    max-width: $contentStop + px(40);
    padding: 0 $siteMargin $elementSpace;
    @include auto;
  }

  #block-citizen-sdc-content {
    padding-top: $elementSpace;
  }

  .block-page-title-block {
    margin-bottom: $elementSpace;
  }
}
