/* =================
   PARAGRAPH LAYOUT SECTION SIMPLE
=================== */

@use '../../../00-base/00-variables/units' as *;

.paragraph--layout-section-simple {
  padding: 0 $siteMargin $elementSpace;
}

.field-paragraphs > :last-child.paragraph--layout-section-simple {
  padding-bottom: 0;
}

.paragraph--layout-section-simple .layout__region > .paragraph:not(:last-child) {
  margin-bottom: $elementSpace;
}
