/* =============
   SITE FOOTER
=============== */

@use '../../../00-base/base' as *;

.prefooter-one-wrapper{
  background: $prefooterOneBack;
  @include largeTab{
    position: relative;
  }
  .paragraph--type--call-to-action{
    padding-bottom: 140px;
    @include largeTab{
      padding-bottom: 150px;
    }
    @media screen and (min-width: 1136px){
      padding-bottom: 120px;
    }
  }
  .block-cta{
    position: relative;
    z-index: 3;
    margin: -82px 16px -62px;
    @include largeTab{
      position: absolute;
      margin: 0;
      width: calc(100% - 32px);
      bottom: -96px;
      left: 50%;
      @include translateX(-50%);
    }
    @media screen and (min-width: 1136px){
      bottom: -77px;
    }
  }//end block cta
}//end prefooter-one wrapper

.prefooter-two-wrapper{
	background: $prefooterTwoBack;
	color: $prefooterTwoText;
	.prefooter-two-inner{
		min-height: 293px;
		padding: 130px $siteMarginMobile 40px;
		max-width: 1450px;
		@include auto;
		position: relative;
		@include largeTab{
			padding: 136px $siteMarginMobile 30px;
			min-height: 0;
		}
    @media screen and (min-width: 1136px){
      padding-top: 120px;
    }
    @include contentStop{
      padding-left: $siteMarginDesk;
      padding-right: $siteMarginDesk;
    }
		//limit footer content to max-width and set flex parenting
		& > div{
      font-size: 2rem;
      line-height: 1.375;
			@include largeTab{
        @include safeFlex(row,wrap,start,start);
				@include bleed(padding,40px);
			}
			& > *{
				&:not(:last-child){
					margin-bottom: $spaceSm;
				}
				h2.block-title{
					font-size: 3.5rem;
          padding-bottom: 0;
          margin-bottom: 1.5rem;
          &:after{
            content: none;
          }
					@include largeTab{
						text-align: left;
					}
				}//end h2 block title
			}//end > *
		}//end prefooter-inner > div
	}//end prefooter inner
}//end prefooter-wrapper


.site-footer{
	background: $footerBack;
	color: $footerText;
	//set style for footer (need inner for fixed footer script)
	.footer-inner{
		min-height: 204px;
		padding: 32px $siteMarginMobile;
		max-width: $contentStop + 40px;
		@include auto;
		position: relative;
    font-size: 2.25rem;
    line-height: 1.22;
    text-align: center;
		@include largeTab{
			padding: 30px $siteMarginMobile;
			min-height: 0;
		}
	}//end footer-inner
}//end footer



