/* =================
   BLOCK COPYRIGHT
=================== */

@use '../../../../00-base/01-mixins/breakpoint-mixins' as *;

.block--4 {
  @include onlySmall {
    width: 100%;
  }

  .copyright {
    text-align: center;
    font-size: 2rem;

    @include tab {
      text-align: left;
    }

    &__year {
      padding-right: .25em;

      & + * {
        display: inline;
      }
    }

    p {
      margin: 0;
    }
  }
}
