/* =============
   BIOS NODE
================== */

@use '../../../00-base' as *;

.node-bios {

  #node-section-1,
  #node-section-2 {
    max-width: $textMax;
    @include auto;
  }

  .block-field-headshot {
    max-width: 320px;
    @include auto;

    @include tab {
      @include edgeReset;
    }
  }

  .block-field.block-title {
    @include tab {
      text-align: left;
    }
  }

  .block-field-position {
    @include heading4;
    margin-top: -$spaceMd;
    text-align: center;

    @include tab {
      text-align: left;
    }

    &:not(:last-child) {
      margin-bottom: $spaceMd;
    }
  }

  .block-field-email {
    h2.block-title {
      @include inlineBlockTitle;
    }

    &:not(:nth-last-child(2)) {
      margin-bottom: $spaceXs;
    }
  }

  .block-field-phone {
    h2.block-title {
      @include inlineBlockTitle;
    }
  }

  .block-field.block-body {
    @include tab {
      margin-right: 0;
    }
  }
}

/* TEASER
--------------- */
.node-teaser-bios {
  @include smallTab {
    flex-direction: column;
    align-items: center;
  }

  .field-headshot {
    margin-bottom: $spaceXs;
    padding-right: 0;
  }

  .node-teaser-content {
    @include smallTab{
      width: 100%;
    }
  }

  .node-field-title {
    @include heading4;
    margin-bottom: $spaceXxs;
    width: 100%;
  }
}

/* LISTING
--------------- */
.node-listing-bios {
  @extend .node-teaser-bios;
}
