/* ===============
   NODES INDEX
=================== */

//no code should be added to index files

@forward 'general-nodes';
@forward 'basic-page/basic-page';
@forward 'bio/bio';
@forward 'event/event';
@forward 'landing-page/landing-page';
@forward 'news/news';
@forward 'support-book/support-book';
