/* Base colors */

$offWhite : #f6f6f6;
$iceBlue : #f2f9fb;
$darkIce : #e4f5fc;
$lightGray : #ededed;
$gray : #ccc;
$midGray : #615f6b;
$darkGray : #37363b;
$black : #000;
$brightRed : #dd241b;
$red : #bf0e0e;
$white : #fff;
$adminPink : #f8e8f1;

$transWhite : rgba(255, 255, 255, 0.7);
$transBlack : rgba(35, 35, 35, 0.7);
$transTint : rgba(35, 35, 35, 0.4);

/* ADMINS - do not customize per site */
$adminGold : #fcd105;
$adminWhiteGold : #fefbc7;
$adminFuchsia : #c028bb;
$adminGreen : #018901;
$adminGray : #676767;
$adminTransGray : rgba(92, 96, 98, .92);

/* Highlight colors */
$redText : #e71313;
$greenText : #128a00;
$yellowMarker : #fff01f;
$greenMarker : #62f962;
$pinkMarker : #fc7899;
$blueMarker : #72ccfd;


