/* ==================
    global views settings
==================== */

//no code should be added to index files

@forward 'general-views';
@forward 'advising-centers/advising-centers-views';
@forward 'bios/bio-views';
@forward 'content-list/content-list-views';
@forward 'events/event-views';
@forward 'hei/hei-views';
@forward 'news/news-views';
@forward 'search/search';
@forward 'support-search/support-search';
