/* =================
   PARAGRAPH LAYOUT SECTION
=================== */

@use '../../../00-base/00-variables/colors' as *;
@use '../../../00-base/00-variables/units' as *;
@use '../../../00-base/01-mixins/breakpoint-mixins' as *;

.paragraph--layout-section {
  padding: $elementSpace $siteMargin;

  &--light-grey {
    background: $offWhite;
  }

  &--light-blue {
    background: $lightBlue;
  }
}
.field-paragraphs > :first-child.paragraph--layout-section--backless {
  padding-top: 0;
}

.field-paragraphs > :last-child.paragraph--layout-section--backless {
  padding-bottom: 0;
}

.paragraph--layout-section--backless + .paragraph--layout-section--backless,
.paragraph--layout-section--light-grey + .paragraph--layout-section--light-grey,
.paragraph--layout-section--light-blue + .paragraph--layout-section--light-blue {
  padding-top: 0;
}

.paragraph--layout-section-simple + .paragraph--layout-section--backless {
  padding-top: 0;
}

.paragraph--layout-section .layout__region > .paragraph:not(:last-child) {
  margin-bottom: $elementSpace;
}
