/* ============
PAGERS
================= */
@use '../../00-base/base' as *;

$pagerLine: 3rem;

%pagerItemStyle{
	display: block;
	min-width: 28px;
	height: 28px;
	padding: 0px 4px;
	line-height: $pagerLine;
	text-align: center;
	border-radius: 4px;
	color: $pagerNumber;
	background: $pagerNumberBack;
	&:hover,&:focus{
		color: $pagerNumberHover;
		background: $pagerNumberBackHover;
		text-decoration: none;
		@include transAll(.3s);
	}
}

/* GLOBAL PAGER STYLING
-------------------- */
.js-pager__items{
	@include listReset;
	text-align: center;
	margin-bottom: $spaceSm;
	@include safeFlex(row,wrap,start,start);
	li{
		font-weight: $heavy;
		*{
			line-height: $pagerLine;
			display: block;
		}
		&:not(:first-child):not(:last-child){
			margin: 0 .5rem;
		}
	}
}

/* FULL PAGER
---------------- */
.pager{
	border-top: 1px solid $borderRule;
	padding-top: $spaceSm;
	@include safeFlex(row,wrap,center,center);
	.view-content + &{
		margin-top: $spaceXl;
	}
	.pager__item{
		a{
			@extend %pagerItemStyle;
		}
		&.is-active{
			a{
				color: $pagerNumberActive;
				background: $pagerNumberActiveBack;
				&:hover,&:focus{
					color: $pagerNumberActiveHover;
					background: $pagerNumberActiveBackHover;
				}
			}
		}
		@include onlySmall{
			&.pager__item--first{
				display: none;
			}
			&.pager__item--last{
				display: none;
			}
			&.pager__item--ellipsis{
				display: none;
			}
		}
		@include tab{
			&.pager__item--previous{
				padding-right: 2.5rem;
			}
			&.pager__item--next{
				padding-left: 2.5rem;
			}
		}
	}//end page number items

	.disabled{
		a{
			color: $midGrey;
			pointer-events: none;
		}
	}
}//end full .pager

/* MINI PAGER
---------------- */
nav:not(.pager){
	.js-pager__items{
		li{
			color: $baseText;
			margin: 0 1rem;
		}
		//pager controls
		li a{
			@extend %pagerItemStyle;
			span{
				position: relative;
				top: -1px;
			}
		}
	}//end js-pager-items
}//end mini pager

