/* =================
   BRANDING BLOCK
=================== */

@use '../../../00-base/00-variables/colors' as *;
@use '../../../00-base/00-variables/component-colors' as *;
@use '../../../00-base/01-mixins/breakpoint-mixins' as *;

.block--system-branding-block {
  // Leave room for search toggle and menu hamburger on mobile.
  width: calc(100% - 70px);
  position: relative;
  z-index: 10;

  @include desk {
    width: 240px;
  }

  a {
    display: block;

    img {
      border: 1px solid transparent;
      display: block;
      width: 100%;
      max-width: 160px;
      margin-right: 4px;

      @include desk {
        max-width: 100%;
      }
    }

    .branding__site-name {
      font-size: 3rem;
      color: $white;
      display: none;
    }

    &:hover {
      text-decoration: none;

      img {
        border-color: $borderRule;
      }

      .branding__site-name {
        color: $black;
      }
    }

    @include tab {
      .branding__site-name {
        font-size: 4rem;
      }
    }
  }

  .branding__tagline {
    display: none;
  }
}
