/* ===============
   NEWS LIST WIDGET
================= */

@use '../../../00-base/base' as *;
@use '../../../01-parts/buttons/button-mixins' as *;

.paragraph--type--news-list{
	@include textConstrain;
	.views-row{
		&:not(:last-child){
			margin-bottom: $spaceSm;
		}
		.views-field-title{
			font-size: 2.75rem;
			font-weight: 700;
			margin-bottom: $spaceXxs;
		}
		.views-field-field-dates,.views-field-created{
			@include metaText;
		}
	}//end views row
	.field-link{
		margin-top: $spaceMd;
		a{
			@include button;
		}
	}
}//end news list widget

