/* =================
   CTA BLOCK
=================== */
@use '../../../00-base/base' as *;
@use '../../../01-parts/buttons/button-mixins' as *;

.block-cta{
	background: $yellow;
  border-radius: 0 24px 0 24px;
	padding: 40px 32px;
  @media screen and (min-width: 1136px){
    @include safeFlex(row,nowrap,center,center);
    max-width: $contentConstrain;
    @include auto;
    padding: 50px 48px;
  }
  h2.block-title{
    @include heading3;
    color: $darkBlue;
    text-align: center;
    @include auto;
    @media screen and (min-width: 1136px){
      margin: 0;
      flex: 1 1 384px;
      padding-right: 32px;
      padding-bottom: 0;
    }
    &:after{
      content: none;
    }
  }//end h2 block title
  .field-links{
    @include safeFlex(row,wrap,center,center);
    margin: 0 auto -1rem;
    max-width: 250px;
    @include largeTab{
      max-width: 100%;
    }
    div{
      &:nth-child(odd){
        a{
          background-color: $darkBlue;
          color: $white;
          &:hover,&:focus{
            background-color: $buttonBackHover;
            color: $buttonTextHover;
          }
          &:active{
            background-color: $buttonBackActive;
            color: $buttonTextActive;
          }
        }//end a
      }//end odd button divs
      &:nth-child(even){
        a{
          background-color: $lightBlue;
          color: $white;
          &:hover,&:focus{
            background-color: $buttonBackHover;
            color: $buttonTextHover;
          }
          &:active{
            background-color: $buttonBackActive;
            color: $buttonTextActive;
          }
        }//end a
      }
      a{
        @include button;
        width: 224px;
        margin: 0 1rem 1rem;
        @media screen and (min-width: 1136px){
          width: 200px;
          margin: 0 .5rem;
        }
      }
    }//end div
  }//end field links
}//end cta block

/* HOME PAGE INTRO CTA BLOCK
------------------------- */
.is-front #node-section-2 .block-cta{
  background-color: $darkBlue;
  margin-top: -136px;
  margin-bottom: 200px;
  padding-bottom: 80px;
  position: relative;
  color: $white;
  background-image: url('../images/logos-badges/m-navy.svg');
  background-repeat: no-repeat;
  background-size: 250px;
  background-position: top -10px right -95px;
  text-align: center;;
  @include largeTab{
    margin-top: -108px;
    margin-bottom: 80px;
    background-position: top -5px right -30px;
  }
  @include desk{
    padding-top: 60px;
    background-size: 392px;
    background-position: top -15px right -50px;
  }
  @media screen and (min-width: 1136px){
    display: block;
    margin-top: -140px;
    margin-bottom: 100px;
    background-size: 420px;
    background-position: top -15px right -40px;
  }
  .block-title{
    margin: 0 auto $spaceSm;
    max-width: 540px;
    @include contentStop{
      max-width: 734px;
      font-size: 11.5rem;
      line-height: .934;
    }
  }
  .body{
    @include auto;
    max-width: 600px;
  }
  .field-links{
    position: absolute;
    top: calc(100% - 26px); 
    left: 50%;
    @include translateX(-50%);
    @include largeTab{
      width: 100%;
    }
    div{
      &:nth-child(odd){
        a{
          background-color: $brightGreen;
          color: $black;
          &:hover,&:focus{
            background-color: $buttonBackHover;
            color: $buttonTextHover;
          }
          &:active{
            background-color: $buttonBackActive;
            color: $buttonTextActive;
          }
        }//end a
      }//end odd button divs
      a{
        @include desk{
          padding-top: 2.4rem;
          padding-bottoM: 2.1rem;
        }
      }
    }//end div
  }//end field links
}//end is front section 2 cta