/* =============
   DIRECTORY NODE
================== */

@use '../../../00-base/base' as *;

%imageBio{
	.has-main-image &{
		@include tab{
			margin-left: 360px;
		}
	}
}

.node-directory{

	#node-section-1,#node-section-2{
		max-width: $textMax;
		.has-main-image &{
			max-width: $contentStop;
		}
		@include auto;
		@include clearFix;
	}
	
	.block-field-image{
		max-width: 320px;
		@include auto;
		@include tab{
			float: left;
			@include edgeReset;
		}
	}

	.block-field.block-title{
		@extend %imageBio;
		@include tab{
			text-align: left;
		}
	}

	.block-field-position{
		@extend %imageBio;
		@include heading4;
		margin-top: -$spaceMd;
		text-align: center;
		@include tab{
			text-align: left;
		}
		&:not(:last-child){
			margin-bottom: $spaceMd;
		}
	}

	.block-field-email{
		@extend %imageBio;
		h2.block-title{
			@include inlineBlockTitle;
		}
		&:not(:nth-last-child(2)){
			margin-bottom: $spaceXs;
		}
	}//end email

	.block-field-phone{
		@extend %imageBio;
		h2.block-title{
			@include inlineBlockTitle;
		}
	}//end phone

	.block-field.block-body{
		@extend %imageBio;
		@include tab{
			margin-right: 0;
		}
	}

}//end directory

/* DIRECTORY TEASER
----------------- */
.teaser-directory{
  width: 341px;
  margin-bottom: $spaceMd;
  background: $white;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  overflow: hidden;
  padding-bottom: 5rem;
  .field-campuses{
    background: $lightBlue;
    padding: 15px 20px;
    font-weight: $heavy;
    text-align: center;
    @include safeFlex(row,wrap,center,start);
    & > div:not(:last-child){
      &:after{
        content: '|';
        margin: 0 .35em 0 .25em;
        font-weight: $regular;
        position: relative;
        top: -1px;
      }
    }
  }//end field campuses
  .field-employee-id-number{
    width: 256px;
    margin: $spaceMd auto;
    img{
      border-radius: 50%;
    }
  }//end field image
  .teaser-title{
    width: 256px;
    margin: 0 auto $spaceXxs;
    &:first-child{
      margin-top: 20px;
    }
    a{
      @include heading4;
      color: $darkBlue !important;
      &:hover,&:focus{
        opacity: 1 !important;
        color: $hoverLink !important;
      }
    }//end a
  }//end teaser title
  .field-employee-phone,.field-email{
    width: 256px;
    margin: 0 auto .5rem;
    font-size: 16px;
    line-height: 1.4;
    color: $navy !important;
    &:last-child{
      margin-bottom: 0;
    }
    // for when devices automatically turn these into links
    a{
      color: $darkBlue !important;
      &:hover,&:focus{
        opacity: 1 !important;
        color: $hoverLink !important;
      }
    }
  }//end email/phone
}//end directory teaser