/* ==================
		EVENTS VIEWS
==================== */

@use '../../../00-base' as *;

.events.all-upcoming-events {
  .view {
    padding-bottom: $elementSpace;
  }

  .views-row {
    @include viewsRowStandard;
  }
}

.events.events-list {
  .views-row {
    @include viewsRowStandard;

    .views-field-title {
      @include safeFlexSize(0, 0, 100%);
    }

    .metatext {
      margin-bottom: 0;
    }
  }
}

.events.by-speaker {
  .view-header {
    border-top: 1px solid $borderRule;
    padding-top: $spaceSm;
    h2 {
      margin-bottom: $spaceXs;
    }
  }
  .views-row {
    &:not(:last-child) {
      margin-bottom: $spaceXxs;
    }
  }
}

.events.next-three {
  .views-row {
    &:not(:last-child) {
      margin-bottom: $spaceSm;
    }
  }
  .node-event.node-teaser {
    .node-field-image {
      @include smallTab {
        flex: 0 0 300px;
      }
    }
    .field-speakers {
      margin-bottom: 0;
    }
    .field-meta-description {
      display: none;
    }
  }
}
