/* ==================
		EVENTS VIEWS
==================== */

@use '../../../00-base' as *;

/* ALL UPCOMING EVENTS
------------- */
.all-upcoming-events {
  .view-wrapper {
    display: flex;
    
    @include desk {
      flex-direction: no-wrap;
      gap: 60px;
      .view-inner-left {
        flex: 0 0 300px;
      }
      .view-inner-right {
        flex: 1 1 auto;
        & > .views-element-container {
          margin-bottom: $spaceXl;
        }
      }
    }
  }

  h2.form-header {
    @include heading3;
    & {
      margin-bottom: $spaceMd;
    }
  }

  #views-form-wrapper {
    @include desk {
      display: block;
      .form-item:not(#edit-field-dates-value-wrapper):not(#edit-field-dates-value-wrapper--2) {
        width: 100%;
      }
      .form-actions {
        @include desk {
          margin-left: -10px;
        }
      }
    }
  }

  .events-map {
    @include leafletPopup;
  }

  .views-row {
    width: 100%;
    margin-bottom: $spaceLg;
  }
}

.home-events {
  .views-row:not(:last-child) {
    margin-bottom: $spaceSm;
  }

  .views-field-title {
    font-size: 3.25rem;
    font-weight: $heavy;
    margin-bottom: $spaceXxs;
    line-height: 1.25;
    a {
      &:hover,&:focus {
        background: $lightBlueTrans;
      }
    }
  }
  .views-field-field-dates {
    @include metaText;
  }
}

.events-center {
  @extend .home-events;
  
  h2.block-title {
    text-align: left;
    color: $navy;
    width: 100%;
    margin-left: 0;
  }


}

