/* ===============
  SECTION MENU
================= */

@use '../../../00-base/00-variables/component-colors' as *;
@use '../../../00-base/00-variables/fonts' as *;
@use '../../../00-base/00-variables/units' as *;
@use '../../../00-base/01-mixins/breakpoint-mixins' as *;
@use '../../../00-base/01-mixins/style-mixins' as *;
@use '../../../00-base/01-mixins/type-mixins' as *;

//remove once we do header theming
#block-menu-section {
  position: relative;

  @include onlyMobile {
    .block-menu__title {
      display: none;
    }
  }

  .block-menu--section__toggle-wrapper {
    text-align: right;

    @include desk {
      display: none;
    }

    .block-menu__toggle {
      display: block;
      cursor: pointer;
      width: 32px;
      height: 32px;
      background-color: $menuToggle;
      mask-image: url('hamburger.svg');
      mask-repeat: no-repeat;
      mask-size: 24px;
      mask-position: center;

      &:hover,&:focus {
        background-color: $menuToggleHover;
      }

      &.block-menu__toggle--active {
        mask-image: url('close.svg');
        mask-size: 16px;
      }
    }
  }
}

#menu-section {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: $header;
  font-weight: $heavy;
  column-gap: 8px;
  position: relative;
  z-index: 2;
  flex-direction: column;
  background: pink;

  ul {
    list-style-type: none;
  }

  li {
    list-style: none;
    position: relative;
  }

  // top level
  .menu-item__level-1 {
    
  }
}
