/* ===============
  SECTION MENU
================= */

@use '../../../00-base/00-variables/component-colors' as *;
@use '../../../00-base/00-variables/fonts' as *;
@use '../../../00-base/00-variables/units' as *;
@use '../../../00-base/01-mixins/breakpoint-mixins' as *;
@use '../../../00-base/01-mixins/style-mixins' as *;
@use '../../../00-base/01-mixins/type-mixins' as *;

//remove once we do header theming
#block-menu-section {
  position: relative;
  padding: 100px 0;

  @include onlyMobile {
    .block-menu__title {
      display: none;
    }
  }

  .block-menu--section__toggle-wrapper {

    @include desk {
      display: none;
    }

    .block-menu__toggle {
      display: block;
      cursor: pointer;
      width: 32px;
      height: 32px;
      background-color: $menuToggle;
      mask-image: url('hamburger.svg');
      mask-repeat: no-repeat;
      mask-size: 24px;
      mask-position: center;

      &:hover,&:focus {
        background-color: $menuToggleHover;
      }

      &.block-menu__toggle--active {
        mask-image: url('close.svg');
        mask-size: 16px;
      }
    }
  }
}

#menu-section {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: $header;
  font-weight: $heavy;
  column-gap: 8px;
  position: relative;
  z-index: 2;
  flex-direction: column;
  background: pink;
  overflow: hidden;
  transition: height 500ms ease, opacity 350ms ease;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  @include desk {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    overflow: auto;
  }

  ul {
    list-style-type: none;
  }

  li {
    list-style: none;
    position: relative;
  }

  &.menu-section--open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  &.menu-section--hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  &.menu-section--closing {
    opacity: 0;
  }

  // top level
  .menu-item{
    position: relative;

    .menu-item__link {
      display: block;
      padding: 1rem 4rem 1rem 2rem;
    }

    .menu-item__toggle {
      position: absolute;
      width: 24px;
      height: 30px;
      top: 0;
      right: 0;
      background: red;
      text-indent: -9000px;
      font-size: 0;
    }

    ul[aria-hidden='true'] {
      height: 0;
      overflow: hidden;
      visibility: hidden;
      pointer-events: none;
    }
  }
}

