/* =================
   TWO COLUMN SIDEBAR LEFT LAYOUT
=================== */

@use '../../../../00-base/00-variables/units' as *;
@use '../../../../00-base/01-mixins/breakpoint-mixins' as *;
@use '../../../../00-base/01-mixins/layout-mixins' as *;

.layout--twocol-sideleft {
  width: 100%;
  max-width: $contentStop;
  @include auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;

  .layout__region--first {
    width: 100%;

    @include desk {
      width: $sideBar;
    }
  }

  .layout__region--content {
    width: 100%;

    @include desk {
      &:not(:only-child) {
        width: calc(100% - #{$sideBar});

        &:not(.layout-builder__region) {
          padding-left: $sectionGutter;
        }
      }
    }
  }
}
