/* ===============
  MENU BASE
================= */

@use '../../../../00-base/00-variables/colors' as *;
@use '../../../../00-base/00-variables/component-colors' as *;
@use '../../../../00-base/00-variables/fonts' as *;
@use '../../../../00-base/00-variables/units' as *;
@use '../../../../00-base/01-mixins/general-mixins' as *;
@use '../../../../00-base/01-mixins/layout-mixins' as *;

.block-menu {
  .contextual {
    display: none;
  }
}

ul.menu {
  display: flex;
  flex-wrap: wrap;
  @include listReset;

  ul {
    @include listReset;
  }
}
