/* ===============
   LANDING PAGE NODE
==================== */

@use '../../../00-base' as *;

.node-landing-page {
  #node-section-1 {
    body:not(.has-main-image) & {
      margin-top: $elementSpace;
    }
    .has-main-image & {
      margin-bottom: $elementSpace;
      @include tab {
        @include edgeToEdge;
        position: relative;
        overflow: hidden;
        width: 100vw;
      }
    }
  }
  .block-field-image {

    @include tab {
      margin-bottom: 0;
    }
  }

  .block-field.block-title {
    .has-main-image & {
      @include tab {
        text-align: left;
        position: absolute;
        height: 100%;
        width: 700px;
        top: 0;
        left: 0;
        padding-left: $siteMarginMobile;
        background: linear-gradient(to right, $black, rgba(0,0,0,.5) 70%, transparent 100%);
        color: $white;
        z-index: 1;
      }
      .field.title {
        @include tab {
          position: absolute;
          top: 50%;
          left: 0;
          width: 100vw;
          transform: translateY(-50%);
          .title-inner {
            max-width: $contentStop;
            @include auto;
            .title-inner-inner {
              max-width: 600px;
            }
          }
        }
      }
    }
  }

  .block-field.block-body {
    @include auto;
    max-width: $textMax;
  }

  #node-section-3:nth-child(2) {
    z-index: 2;
    .has-main-image & {
      .block-field-call-to-action:first-child {
        margin-top: calc(#{$elementSpace} * -1 - 100px);
      }
    }
  }

  .block-field-call-to-action + .block-field-buttons {
    margin-top: calc(#{$elementSpace} * -1 - 130px);
    padding-top: 200px;
  }

  .block-field-call-to-action {
    position: relative;
    z-index: 1;
  }

  .block-field-buttons {
    background: $navy;
    padding: 40px $siteMarginMobile;
    @include edgeToEdge;
  }
}
