/* ===============
   LANDING PAGE NODE
==================== */

@use '../../../00-base' as *;

.node-landing-page {
  #node-section-1 {
    body:not(.has-main-image).role-anonymous & {
      margin-top: $spaceXs;
      border-top: 1px solid $navy;
      padding-top: 4rem;
      max-width: $contentStop;
      @include auto;
    }
    .has-main-image & {
      margin-bottom: $elementSpace;
      @include tab {
        @include edgeToEdge;
        position: relative;
        overflow: hidden;
        width: 100vw;
      }
    }
  }

  .block-field-image {
    @include tab {
      margin-bottom: 0;
    }
  }

  .block-field.block-title {
    margin-bottom: 6rem;
    .has-main-image & {
      @include tab {
        text-align: left;
        position: absolute;
        height: 100%;
        width: 700px;
        top: 0;
        left: 0;
        padding-left: $siteMarginMobile;
        background: linear-gradient(to right, $black, rgba(0,0,0,.5) 70%, transparent 100%);
        color: $white;
        z-index: 1;
      }
      .field.title {
        @include tab {
          position: absolute;
          top: 50%;
          left: 0;
          width: 100vw;
          transform: translateY(-50%);
          .title-inner {
            max-width: $contentStop;
            @include auto;
            .title-inner-inner {
              max-width: 600px;
              h1.page-title {
                color: $white;
              }
            }
          }
        }
      }
    }
  }

  .ai-fake-form {
    position: relative;
    width: 100%;
    max-width: 484px;
    margin-top: $spaceSm;
    .howi {
      position: absolute;
      top: 24px;
      left: 24px;
      transform: translateY(-50%);
      font-size: 15px;
      font-weight: $heavy;
      color: $navy;
    }

    input {
      background: $siteBack;
      border: 1px solid $siteBack;
      padding-left: 91px;
      border-radius: 24px;
      font-size: 15px;
      font-style: italic;
      height: 48px;
      max-width: 428px;
      width: 100%;
      &:hover{
        border-color: $blue;
        background: $lightBlue2;
      }
      &:focus {
        outline: 0;
        background: $siteBack;
        border-color: $blue;
        box-shadow: inset 0 0 0 1px $blue;
      }
    }

    a.ai-form-button {
      position: absolute;
      background: $siteBack;
      top: 0;
      right: 0;
      border-radius: 50%;
      width: 48px;
      height: 48px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      color: $navy;
      line-height: 18px;
      &:hover,&:focus {
        background: $lightBlue2;
        text-decoration: none;
      }
      span{
        position: relative;
        top: 2px;
      }
    }
  }


  .block-field.block-body {
    @include auto;
    max-width: $textMax;
  }

  #node-section-3:nth-child(2) {
    z-index: 2;
    .has-main-image & {
      .block-field-call-to-action:first-child {
        margin-top: calc(#{$elementSpace} * -1 - 100px);
      }
    }
  }

  .block-field-call-to-action + .block-field-buttons {
    margin-top: calc(#{$elementSpace} * -1 - 131px);
    padding-top: 160px;
  }

  .block-field-call-to-action {
    position: relative;
    z-index: 1;
  }

  .block-field-buttons {
    background: $navy;
    padding: 40px $siteMarginMobile;
    @include edgeToEdge;
  }
}

.is-front {
  .widget-section .layout--twocol-section {
    .layout__region--first {
      .paragraph--type--view-placer {
        @include tab {
          border-right: 1px solid $navy;
        }
      }
    }
  } 
  &.has-main-image {
    .node-landing-page{
      .block-field.block-title {
        .field.title {
          @include tab {
            top: 43%;
          }
        }
      }
    }
  }
}
