{% set block_content = content['#block_content'] %}
{% set in_layout_builder = elements['#in_preview'] %}
{% if in_layout_builder %}
  <div{{ attributes }}>
    {{ title_prefix }}
    {{ title_suffix }}
{% endif %}
  {% embed 'dripyard_base:tab' with {
    title: props.dripyard_title|default(''),
    icon: block_content.dripyard_icon[0].value,
    icon_size,
    icon_placement,
    content,
  } only %}
    {% block tab_panel_content %}
      {{ content.body }}
    {% endblock %}
  {% endembed %}
{% if in_layout_builder %}
  </div>
{% endif %}
