
{% set block_content = content['#block_content'] %}
{% set in_layout_builder = elements['#in_preview'] %}
{% if in_layout_builder %}
  <div{{ attributes }}>
    {{ title_prefix }}
    {{ title_suffix }}
{% endif %}
  {{ include('dripyard_base:icon-card', {
      icon: block_content.dripyard_icon[0].value|default('drupal'),
      title: props.dripyard_title|default(''),
      body: block_content.body[0].value|default(''),
      layout: 'portrait',
      no_background: false,
      icon_size: block_content.dripyard_icon_size[0].value|default('small'),
      href: props.dripyard_link[0].href,
      no_background: block_content.dripyard_no_background[0].value|default(false) ? true : false,
      layout: block_content.dripyard_orientation[0].value|default('portrait'),
    },
    with_context = false)
  }}
{% if in_layout_builder %}
  </div>
{% endif %}
