/* ===================
	PARAGRAPHS
===================== */

@use '../../00-base' as *;

.block-field-paragraphs {
  @include edgeToEdge;
}

/* WIDGETS
--------------------- */
.widget {
  width: 100%;
  padding: 0 $siteMarginMobile;
  position: relative;

  &:not(.layout-section) {
    margin-bottom: $elementSpace;
  }
}
