/* ===================
	PARAGRAPHS
===================== */

//no code should be added to index files

@forward 'general-paragraphs';
@forward 'accordions/accordions';
@forward 'block-placer/block-placer';
@forward 'content-list/content-list';
@forward 'form-placer/form-placer';
@forward 'gallery/gallery';
@forward 'horizontal-rule/horizontal-rule';
@forward 'image/image';
@forward 'links-files/links-files';
@forward 'layout-section/layout-section';
@forward 'portals/portals';
@forward 'quote/quote';
@forward 'text/text';
@forward 'video/video';
@forward 'view-placer/view-placer';
