/* ===================
	PARAGRAPHS
===================== */

//no code should be added to index files

@forward 'general-paragraphs';
@forward 'accordions/accordions';
@forward 'horizontal-rule/horizontal-rule';
@forward 'image/image';
@forward 'layout-section/layout-section';
@forward 'portals/portals';
@forward 'text/text';
@forward 'video/video';
@forward 'view-placer/view-placer';
