/* ==============
   TEXT WIDGET
================= */

@use '../../../00-base' as *;

.paragraph--type--text {
  @include textConstrain;

  .widget-wrapper figure[role=group] {
    margin: 0 0 $spaceMd 0;
  }
}
