{#
/**
 * @file
 * Theme override for the node title field.
 *
 * This is an override of field.html.twig for the node title field. See that
 * template for documentation about its details and overrides.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing span element.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see field.html.twig
 */
#}

{% extends 'field.html.twig' %}

{% block fieldSingleNo %}
  <div class="title-inner">
    <div class="title-inner-inner">
      <h1 class="page-title">{{ element.0['#context'].value }}</h1>
      {% if element['#object'].field_intro.0 %}
        <div class="intro">
          {{ element['#object'].field_intro.0.value }}
        </div>
      {% endif %}
      {% if is_front %}
        <form class="ai-fake-form">
          <div class="js-form-item-text">
            <span class="howi">How Do I</span>
            <input class="ai-search-input" placeholder="apply to college in the USA" type="text" />
          </div>
          <div class="form-actions">
            <a href="#" class="ai-form-button"><span class="material-icons">search</span></a>
          </div>
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}