/* ===============
   LANDING PAGE NODE
==================== */

@use '../../../00-base/base' as *;

.node-landing-page{
	.block-field-image{
		@include edgeToEdge;
    @include animation('fadeIn 2s 1');
    @include ultraScreen{
      @include auto;
      max-width: $ultraScreen;
    }
	}
  .block-field.block-title{
    background: $yellow;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    padding: 24px 32px;
    text-align: center;
    @include auto;
    position: relative;
    z-index: 1;
    max-width: 784px;
    .has-main-image &{
      margin-top: -84px;
      margin-bottom: 60px;
    }
    @include tab{
      padding: 40px;
      .has-main-image &{
        margin-top: -105px;
      }
    }
  }
	.block-field.block-body{
		max-width: $textMax;
		@include auto;
	}
}//end landing-page



