/* ===============
  DRAWER
================= */

@use '../../00-base/00-variables/component-colors' as *;
@use '../../00-base/00-variables/fonts' as *;
@use '../../00-base/00-variables/units' as *;
@use '../../00-base/01-mixins/general-mixins' as *;
@use '../../00-base/01-mixins/style-mixins' as *;
@use '../../00-base/01-mixins/type-mixins' as *;


.drawer-toggle {
  position: relative;
  display: inline-block;
  color: $link;
  font-weight: $heavy;
  
  &:hover,
  &:focus {
    color: $hoverLink;

    &:after {
      background-color: $hoverLink;
    }
  }

  &.button--clean {
    padding-right: 3.5rem;
    margin-top: $spaceXxs;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 100%;
    background-color: $link;
    mask-image: url(caret-down.svg);
    mask-repeat: no-repeat;
    mask-size: 12px;
    mask-position: center;
    transition: transform .3s ease;
  }

  &.drawer-toggle--active-drawer {
    &:after {
      transform: rotate(180deg);
    }
  }

  &.drawer-toggle--above {
    & + .drawer-content {
      padding-top: $spaceXxs;
    }
  }
}

.drawer-content--fade {
  & + .drawer-toggle--below {
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 60px;
      position: absolute;
      bottom: 100%;
      left: 0;
      @include gradient(bottom, $siteBack, 12%, transparent);
    }
  }
}

