/* ==================
		HIGHER EDUCATION INTITUTE VIEWS
==================== */

@use '../../../00-base' as *;

/* ALL HEIS
------------- */
.all-institutes {
  .view-wrapper {
    display: flex;
    
    @include desk {
      flex-direction: no-wrap;
      gap: 60px;
      .view-inner-left {
        flex: 0 0 300px;
      }
      .view-inner-right {
        .leaflet-citizen-custom-world-layer-pane {
          display: none !important;
        }
        flex: 1 1 auto;
        & > .views-element-container {
          margin-bottom: $spaceXl;
          
        }
      }
    }
  }

  h2.form-header {
    @include heading3;
    & {
      margin-bottom: $spaceMd;
    }
  }

  #views-form-wrapper {
    @include desk {
      display: block;
      .form-item:not(#edit-field-dates-value-wrapper):not(#edit-field-dates-value-wrapper--2) {
        width: 100%;
      }
      .form-actions {
        @include desk {
          margin-left: -10px;
        }
      }
    }
  }

  .hei-map {
    @include leafletPopup;
  }

  .view-inner-right > .view-content > .views-row {
    width: 100%;
    margin-bottom: $spaceLg;
  }
}

/* SUCCESS STORIES ON HEI
---------------------- */
.hei-stories {
  display: inline;
  .view-content,.view-row {
    display: inline;
  }
  .modal-trigger {

  }
 .modal-outer {
  display: none;
 } 
}

