/* ============
	 CHECKBOX
=============== */

@use '../00-variables/colors' as *;
@use '../00-variables/component-colors' as *;
@use '../00-variables/fonts' as *;
@use '../00-variables/units' as *;
@use '../01-mixins/form-mixins' as *;
@use '../01-mixins/type-mixins' as *;

.form-checkboxes,
.js-webform-checkboxes {
  margin-bottom: -$spaceXxs;
  display: flex;
  flex-wrap: wrap;

  fieldset & {
    margin-left: -2rem;
    margin-right: -2rem;
  }
}

.checkboxes--wrapper {
  padding: 0;

  legend {
    @include formLabel;
  }

  .fieldset-wrapper {
    margin: 0;
  }
}


.js-form-type-checkbox {
  width: auto;
  margin-right: 3rem;
  position: relative;
  margin-bottom: 1rem;
  margin-top: 1rem;

  label,
  input {
    display: inline-block;
  }

  label {
    font-weight: $regular;
    margin-bottom: 0;
  }

  input[type="checkbox"] {
    margin-right: .6rem;
  }

  label {
    display: block;
    padding: 0 0 0 35px;
  }

  input,
  input+label::before {
    position: absolute;
    top: 3px;
    height: 20px;
    left: 0;
    width: 20px;
  }

  input+label::before {
    border: 1px solid $checkboxChecked;
    content: "";
  }

  input+label::after {
    content: "";
    opacity: 0;
    @include materialIconOutline(\e5ca);
    height: 20px;
    width: 20px;
    position: absolute;
    left: 1px;
    top: 4px;
    font-size: 19px;
    transition: opacity 0.2s ease-in-out;
  }

  input:checked+label::after {
    opacity: 1;
    background-color: $checkboxChecked;
    color: $white;
  }

  input:hover+label::before,
  input:focus+label::before {
    box-shadow: 0 0 0 2px $checkboxChecked;
    outline: 3px solid transparent;
  }

  input:checked:hover+label::after,
  input:checked:focus+label::after {
    box-shadow: 0 0 0 2px $checkboxChecked;
    outline: 3px solid transparent;
  }
}
