/* ===========
   DATE
================ */

@use '../00-variables/fonts' as *;
@use '../00-variables/units' as *;
@use '../01-mixins/form-mixins' as *;

.js-form-type--date,
.form-item--html-5-date {
  input {
    @include textInput;
  }
}

.js-form-type--webform-time {
  input {
    @include textInput;

    & {
      max-width: 120px;
    }
  }
}

.js-form-type--datetime {
  .container-inline {
    display: flex;

    .js-form-type--date {
      max-width: 230px;
      margin-right: 10px;
      margin-bottom: 0;
    }

    .js-form-type--webform-time {
      max-width: 120px;
      margin-bottom: 0;
    }
  }

}

.js-form-type--datelist {
  .container-inline {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -$spaceSm;

    & > * {
      display: block;
    }
  }

  .form-item {
    margin-bottom: $spaceSm !important;
    width: 100%;
    max-width: 160px;
    margin-right: 1rem;
  }
}
