/* FILE INPUTS
=========== */

@use '../00-variables/component-colors' as *;
@use '../00-variables/fonts' as *;
@use '../00-variables/units' as *;
@use '../01-mixins/button-mixins' as *;

.js-form-type--webform-document-file,
.form-item--document-upload,
.js-form-item--document-upload,
.js-form-type--managed-file,
.form-item--file-upload-field,
.js-form-item--file-upload-field {

  input.js-form-submit,
  input.form-submit,
  label.button {
    @include submitButton;

    & {
      font-size: 1.5rem;
      padding: 1rem 2rem;
      max-width: 120px;
      touch-action: manipulation;
    }
  }

  // "Allowed upload file types" description.
  .form-item__description {
    font-size: 2rem;
    line-height: 1.25;
    opacity: .7;
    margin-top: $spaceXxs;
    margin-bottom: $spaceXs;
  }
}
