/* ============
	 RADIO
============== */

@use '../00-variables/fonts' as *;
@use '../00-variables/units' as *;
@use '../01-mixins/form-mixins' as *;

.form-radios,
.js-webform-radios {
  margin-bottom: -$spaceXxs;
  display: flex;
  flex-wrap: wrap;
}

.radios--wrapper {
  padding: 0;

  legend {
    @include formLabel;
  }

  .fielset-wrapper {
    margin: 0;
  }
}

.js-form-type-radio {
  width: auto;
  margin-right: 2rem;
  margin-bottom: $spaceXxs;

  label,
  input {
    display: inline-block;
  }

  label {
    font-weight: $regular;
    margin-bottom: 0;
  }

  input[type="radio"] {
    margin-right: .6rem;
    position: relative;
    top: 3px;
  }
}

