/* =================
   TEXTFIELD
================= */

@use '../01-mixins/form-mixins' as *;

//set class arrays for form-item mixin styling
$text-inputs: textfield, email, password, textarea, number, tel, url, date-time-daypicker-time; 

@each $type in $text-inputs {
  .js-form-type--#{$type} {
    input {
      @include textInput;
    }
  }
}

.js-form-type--number {
  max-width: 160px;
}

.js-form-type--tel {
  max-width: 240px;
}

.js-form-type--url {
  max-width: 360px;
}

.js-form-type--textarea {
  line-height: 1.4;
}

.form-item-date-time-daypicker-time {
  max-width: 120px;
}
