{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}

{% set trail %}
  {% block trail_items %}
    {% for item in breadcrumb %}
      <li>
        {% if item.url %}
          <a href="{{ item.url }}">{{ item.text }}</a>
        {% else %}
          {{ item.text }}
        {% endif %}
      </li>
    {% endfor %}
  {% endblock %}
{% endset %}

{{ include('citizen_sdc:breadcrumbs', {
  breadcrumb: breadcrumb,
  breadcrumb_label: 'Breadcrumbs',
  trail: trail,
}, with_context = false) }}
