{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}

{% extends 'breadcrumb.html.twig' %}

{% block trail_items %}
  {{ parent() }}
  <li>{{ currentNode.title.value }}</li>
{% endblock %}
