/* =================
   NODE SUPPORT BOOK DEFAULT
=================== */

@use '../../../00-base/00-variables/units' as *;
@use '../../../00-base/01-mixins/type-mixins' as *;

.node-content--support-book {
  margin-bottom: $elementSpace;

  #node-section-1,#node-section-2 {
    max-width: $contentStopPadding;
    padding: 0 $siteMargin;
    margin: 0 auto $elementSpace;
  }

  .block--system-breadcrumb-block {
    margin-bottom: $elementSpace;
  }

  .block-field--title {
    margin-bottom: $elementSpace;
  }

  .block-field--field-last-reviewed {
    margin-top: -($spaceSm);
    margin-bottom: $elementSpace;
    @include metaText;
  }

  .block-field--body {
    margin-bottom: $elementSpace;
  }
}
