/* =============
   EVENT NODE
================ */

@use '../../../00-base' as *;

.node-event {
  max-width: $contentStop;
  @include auto;

  .block-field.block-title {
    max-width: 100%;

    h1 {
      text-align: left;
    }
  }

  .block-field-dates {
    @include metaText;

    .first-date {
      @include safeFlex(column,nowrap,start,start);
    }

    .add-to-calendar {
      margin-top: $spaceXxs;

      a {
        &:not(:last-of-type) {
          margin-right: .5rem;
        }
      }
    }

    .addtocal__outlook {
      display: none;
    }

    .drawer-content {
      .add-to-calendar {
        margin-left: .5rem;
      }
    }
  }

  .block-field-event-location + .block-field-address{
    margin-top: -4rem;
  }

}

.node-teaser-event {
  .field-dates {
    @include metaText;
    margin-bottom: $spaceSm;
  }
}

.node-listing-event{
  @extend .node-teaser-event;
}
