/* =============
	 BREADCRUMBS
------------------- */
@use '../../../00-base/base' as *;

.breadcrumb{
	max-width: $ultraScreen - 40px;
	@include auto;
	padding: $spaceMd 0 0;
  @include menuBreak{
    padding-left: 3rem;
  }
	ol {
		@include listReset;
	}

	li{
		display: inline-block;
		color: $breadCurrent;
		font-size: 2rem;
		a{
			padding-right: .5rem;
			@include transAll(.3s);
			color: $breadLink;
			&:hover,&:focus{
				color: $breadLinkHover;
			}
		}
		&:not(:last-of-type){
			&:after{
				content: ":";
			}
		}
	}

}//end breadcrumb 
