/* ===============
  CONTENT PLACER WIDGET
================= */

@use '../../../00-base/base' as *;
@use '../../../01-parts/buttons/button-mixins' as *;

.paragraph--type--content-placer{
  max-width: 1700px;
  @include auto;
  .content-placer-wrapper{
    &.has-link{
      @include tab{
        @include safeFlex(row,wrap,justify,end);
        .field-widget-title{
          width: calc(100% - 310px);
        }
        .content-placer-content{
          order: 99;
          width: 100%;
        }
        .field-link{
          margin-top: 0;
          margin-bottom: $spaceMd;
        }
      }//end tab
    }//end has link
  }//end content placer wrapper

	.field-widget-title{
		text-align: left;
	}
	.field-link{
		margin-top: $spaceLg;
    text-align: center;
		a{
			@include button;
			margin-bottom: 0;
      @include onlyPhone{
        width: 288px;
      }
      &:after{
        content: '';
        display: inline-block;
        width: 11px;
        height: 11px;
        @include textLinkArrow;
        position: relative;
        right: 0;
        margin-left: .75em;
      }
		}//end a
	}//end field link
}//end social media
