/* ===============
  CONTENT PLACER WIDGET
================= */

@use '../../../00-base/base' as *;
@use '../../../01-parts/buttons/button-mixins' as *;

.paragraph--type--content-placer{
  max-width: $contentConstrainMax;
  @include auto;
  .content-placer-wrapper{
    &.has-link{
      @include tab{
        @include safeFlex(row,wrap,justify,end);
        .field-widget-title{
          width: calc(100% - 310px);
        }
        .content-placer-content{
          order: 99;
          width: 100%;
        }
        .field-link{
          margin-top: 0;
          margin-bottom: $spaceMd;
        }
      }//end tab
    }//end has link
    &.directory{
      .field-widget-title{
        @include centerBlockTitle;
      }
      .content-placer-content{
        @include safeFlex(row,wrap,center,start);
        max-width: $contentConstrain;
        @include auto;
        & > *{
          margin-bottom: $spaceMd;
        }
        @media screen and (min-width: 734px){
          justify-content: flex-start;
          gap: 20px;
          & > *{
            margin-bottom: $spaceXs;
          }
        }
        @include contentStop{
          gap: 40px;
          & > *{
            margin-bottom: 0;
          }
        }
        @include midScreen{
          max-width: 1484px;
        }
      }
    }//end directory placer
  }//end content placer wrapper

	.field-widget-title{
		text-align: left;
	}
	.field-link{
		margin-top: $spaceLg;
    text-align: center;
		a{
			@include button;
			margin-bottom: 0;
      @include onlyPhone{
        width: 288px;
      }
      &:after{
        content: '';
        display: inline-block;
        width: 11px;
        height: 11px;
        @include textLinkArrow;
        position: relative;
        right: 0;
        margin-left: .75em;
      }
		}//end a
	}//end field link


}//end content placer
