/* ================
	DRAWERS
================== */
@use '../../00-base' as *;

.drawer-toggle {
  position: relative;
  display: inline-block;
  padding-right: 2.5rem;
  font-weight: $heavy;
  margin-top: $spaceXxs;
  &.pre-hide-toggle{
    display: none;
  }
  &.pre-hide-toggle.visible-drawer{
    display: block;
  }
  &:hover,
  &:focus {
    &:after {
      color: $buttonBackHover;
    }
  }

  &:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 2rem;
    @include materialIconOutline(\e5cf);
    font-size: 24px;
  }

  &.active-drawer {
    &:after {
      @include rotate(180);
      margin-left: .5em;
    }
  }
}

.drawer-content {
  @include showContent(.5s);
}
