/* ================
	DRAWERS
================== */
@use '../../00-base/base' as *;

.drawer-toggle{
	position: relative;
	display: inline-block;
	padding-right: 2.5rem;
	font-weight: $heavy;
	margin-top: $spaceXxs;
	&:hover,&:focus{
		&:after{
			background-image: url('../images/form-elements/caret-down-dkgrey.svg');
		}
	}
	&:after{
		content: '';
		display: block;
		width: 2rem;
		height: 2rem;
		position: absolute;
		bottom: calc(50% - 1rem);
		right: 0;
		background-image: url('../images/form-elements/caret-down-red.svg');
		background-position: center;
		background-size: 14px 14px;
		background-repeat: no-repeat;
	}
	&.active-drawer{
		&:after{
			@include rotate(180);
		}
		&.drawer-fade{
			&:after{
				right: calc(50% - 90px);
			}
		}
	}
	&.drawer-fade{
		display: block;
		width: 100%;
		padding: 6rem 2.5rem 2rem;
		text-align: center;
		margin-top: 0;
		@include gradient(bottom,$lightGrey,0%,transparent);
		&:after{
			bottom: 2.5rem;
			right: calc(50% - 74px);
		}
	}
}//end drawer toggle

.drawer-content{
	display: none;
	padding-top: $spaceXxs;
	&.open-drawer{
		&:not(.not-fade){
			padding-bottom: $spaceMd;
		}
	}
}//end drawer content
