/* ===============
  CONTENT PLACER WIDGET
================= */

@use '../../../00-base' as *;

.paragraph--type--content-placer {
  &.custom-views-list {
    @include textConstrain;

    .node-department & {
      max-width: 100% !important;
    }
  }

  .field-widget-title {
    text-align: left;
    padding-bottom: $spaceXxs;
    border-bottom: 1px solid $borderRule;
    font-size: 22px;
  }

  .field-link {
    margin-top: $spaceLg;

    a {
      @include button;
      margin-bottom: 0;
    }
  }
}
