{% if intro %}
  <div class="newsletter__intro">
    {{ intro }}
  </div>
{% endif %}
{% if form_embed %}
  <div class="newsletter__form-embed">
    {% autoescape false %}
      {{- form_embed -}}
    {% endautoescape %}
  </div>
{% endif %}
