/* ==================
		NEWS VIEWS
==================== */

@use '../../../00-base/base' as *;
@use '../views-mixins' as *;

/* ALL NEWS */
.news.all-news{
	.view{
		padding-bottom: $elementSpace;
	}
	.views-row:not(:last-child){
    margin-bottom: $spaceLg;
	}
}//end all news

/* NEWS LIST */
.news.news-list{
	.views-row:not(:last-child){
    margin-bottom: $spaceLg;
	}
}//end news list
