/* ==================
		NEWS VIEWS
==================== */

@use '../../../00-base' as *;

.news.all-news {
  .view-content {
    max-width: 742px;
    @include auto;
  }

  .views-row:not(:last-child) {
    margin-bottom: $spaceLg;
  }
}

.news.news-list {
  .views-row:not(:last-child) {
    margin-bottom: $spaceLg;
  }
}

.news.featured-news {
  .views-row:not(:last-child) {
    margin-bottom: $spaceXs;
  }
  .node-news.node-listing {
    .field-meta-description {
      font-size: 16px;
    }
  }
}
