/* =================
   SITE SEARCH BLOCK
=================== */

@use '../../../00-base/00-variables/colors' as *;
@use '../../../00-base/00-variables/component-colors' as *;
@use '../../../00-base/00-variables/fonts' as *;
@use '../../../00-base/00-variables/units' as *;
@use '../../../00-base/01-mixins/breakpoint-mixins' as *;
@use '../../../00-base/01-mixins/general-mixins' as *;
@use '../../../00-base/01-mixins/layout-mixins' as *;
@use '../../../00-base/01-mixins/style-mixins' as *;

%searchBlockPlaceholder {
  &::placeholder {
    opacity: 1;
    color: $searchDropPlace;
  }
}

%searchBlockPlaceholderFocus {
  &::placeholder {
    opacity: .2;
    color: $searchDropPlaceActive;
  }
}

.block--site-search {
  position: static;
  text-align: right;

  .contextual {
    display: none;
  }

  .site-search__trigger--open {
    @include buttonWipe;
    border: $inputBorderWidth solid transparent;
    color: $searchIcon;

    &:hover {
      color: $searchIconHover;
    }

    &:focus-visible {
      @include focusOutline(light);
    }

    svg {
      width: 20px;
      height: 20px;
    }

    @include desk {
      top: 0;
    }
  }

  /* Close toggle */
  .site-search__toggle--close {
    height: 48px;
    width: 60px;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 502;

    .site-search__trigger--close {
      @include buttonWipe;
      height: 100%;
      width: 100%;
      background: $searchCloseBack;
      color: $searchClose;
      font-family: $header;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: all 0.15s ease-out;

      svg {
        width: 20px;
        height: 20px;
      }

      &:hover {
        background: $searchCloseBackHover;
        color: $searchCloseHover;
      }

      &:focus-visible {
        @include focusOutline(light);
      }
    }
  }

  /* Slide-down form wrapper */
  #search-form-wrapper {
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
    @include showContent(.5s);
  }

  /* Search form */
  #site-search-form {
    position: relative;
    width: 100%;
    padding: 80px $siteMargin;
    text-align: center;
    background: $searchDropBack;

    @include desk {
      padding: 160px $siteMargin;
    }

    .js-form-type-textfield,
    .form-item {
      padding: 1.5rem 0;
      width: 100%;
      margin-bottom: 0;
      max-width: 800px;
      @include auto;

      label {
        @include visuallyHidden;
      }

      input {
        width: 100%;
        background: transparent;
        padding: 8px 4px;
        color: $searchDropText;
        border: $inputBorderWidth solid transparent;
        border-bottom-color: $searchDropInputBorder;
        border-radius: 0;
        @extend %searchBlockPlaceholder;

        &:-webkit-autofill {
          -webkit-box-shadow: 0 0 0 1000px $searchDropPlaceActive inset;
        }

        @include tab {
          font-size: 2.5rem;
        }

        &:hover {
          border-color: $searchDropInputHover;
          box-shadow: inset 0 0 0 1px $searchDropInputHover;
        }

        &:focus-visible {
          @include focusOutline(light);
        }
      }
    }

    .form-actions {
      max-width: 800px;
      @include auto;
      position: relative;

      .form-submit {
        position: absolute;
        top: -46px;
        right: 5px;
        height: 32px;
        width: 32px;
        background: transparent;
        z-index: 2;
        text-indent: -9000px;
        cursor: pointer;
        padding: 0;
        min-width: 0;
        border: 0;

        @include tab {
          top: -48px;
          right: 12px;
        }

        &:hover {
          border: 0;
          box-shadow: none;
          outline: none;

          & + svg {
            color: $searchDropSearchIconHover;
          }
        }

        &:focus-visible + svg {
          @include focusOutline(light);
        }
      }

      svg {
        color: $searchDropSearchIcon;
        width: 3rem;
        height: 3rem;
        position: absolute;
        top: -45px;
        right: 8px;
        cursor: pointer;

        @include tab {
          width: 3.5rem;
          height: 3.5rem;
          top: -48px;
          right: 12px;
        }
      }
    }
  }
}
