/* ===============
  CONTENT PLACER WIDGET
================= */

@use '../../../00-base/base' as *;
@use '../../../01-parts/buttons/button-mixins' as *;

.paragraph--type--view-placer{
  max-width: $contentConstrainMax;
  @include auto;
  .view-placer-wrapper{
    &.has-link{
      @include tab{
        @include safeFlex(row,wrap,justify,end);
        .field-widget-title{
          width: calc(100% - 310px);
        }
        .views-element-container{
          order: 99;
          width: 100%;
        }
        .field-link{
          margin-top: 0;
          margin-bottom: $spaceMd;
        }
      }//end tab
    }//end has link
  }//end content placer wrapper

	.field-widget-title{
		text-align: left;
    padding-bottom: 0;
    &:after{
      content: none;
    }
	}
	.field-link{
    text-align: center;
    a{
      @include button;
      margin-bottom: 0;
      @include onlyPhone{
        width: 288px;
      }
      @include tab{
        margin-bottom: 0;
      }
      &:after{
        content: '';
        display: inline-block;
        width: 11px;
        height: 11px;
        @include textLinkArrow;
        color: inherit !important;
        position: relative;
        right: 0;
        margin-left: .75em;
      }
    }//end a
	}
}//end social media
