/* =================
	SITE HEADER
=================== */

@use '../../../00-base/base' as *;

.site-header {
	padding: 20px $siteMarginMobile;
	background: $headerBack;

	& > div {
		max-width: $contentStop;
		@include auto;
		@include safeFlex(row,wrap,null,center);
		position: relative;
	}
}//end layout container


/* BRANDING BLOCK PLACEMENT
------------------- */
.block-system-branding-block {
	//leave room for search toogle and menu hamburger on mobile
	width: calc(100% - 70px);
	position: relative;
	z-index: 10;
	@include desk {
		width: 240px;
	}
	a {
		img {
			max-width: 160px;
			margin-right: 4px;

			@include desk {
				max-width: 100%;
			}
		}
	}
}//end branding block


/* SEARCH BLOCK PLACEMENT
------------------- */
.block-site-search {
	@include desk {
		width: calc(100% - 240px);
	}
	.contextual {
		display: none !important;
	}
}//end search block


/* MAIN NAVIGATION BLOCK
------------------------ */
.block-superfishmain {
	@include onlyMobile {
		&.contextual-region {
			position: static;
		}
		#superfish-main-toggle {
			height: 32px;
			width: 32px;
			position: absolute;
			top: 20px;
			right: 50px;
		}
	}
	//desktop position
	@include desk {
		width: 100%;
		padding-left: 280px;
		position: absolute;
		bottom: -20px;
		right: 0;
	}//end desk
}//end main nav