/* =================
	SITE HEADER
=================== */

@use '../../../00-base/base' as *;

.site-header {
	padding: 30px $siteMarginMobile;
	background: $headerBack;
  @include menuBreak{
    background-color: $siteBack;
    background-image: url(../images/elements/mobile-menu-back.svg);
    background-repeat: no-repeat;
    background-size: 3598px;
    background-position: 0 -505px;
    padding: 58px $siteMarginDesk 20px;
  }
	& > div {
		max-width: $ultraScreen - 80px;
		@include auto;
		@include safeFlex(row,wrap,justify,center);
		position: relative;
    @include menuBreak{
      @include safeFlex(row,wrap,justify,end);
    }
	}
}//end layout container


/* BRANDING BLOCK PLACEMENT
------------------- */
.block-system-branding-block {
	//leave room for search toogle and menu hamburger on mobile
	width: 200px;
	position: relative;
	z-index: 10;
	@include desk {
		width: 240px;
	}
  @include menuBreak{
    padding-top: $spaceXs;
  }
  @include contentStop{
    width: 332px;
  }
}//end branding block


/* SEARCH BLOCK PLACEMENT
------------------- */
.block-site-search {
  display: none;
	@include menuBreak {
    display: block;
		width: 352px;
    position: absolute !important;
    top: -35px;
    right: 166px;
	}
	.contextual {
		display: none !important;
	}
}//end search block

/* QUICKLINKS
----------------- */
.block-quicklinks-menu{
  position: absolute !important;
  top: -35px;
  right: 0;
  display: none;
  @include menuBreak{
    display: block;
  }
}

/* MAIN NAVIGATION BLOCK
------------------------ */
.block-superfishmain {
	@include mobileMenu {
		&.contextual-region {
			position: static;
		}
		#superfish-main-toggle {
			height: 48px;
			width: 48px;
			position: absolute;
			top: -5px;
			right: 0;
		}
	}
	@include menuBreak {
		width: calc(100% - 250px);
		position: absolute !important;
		bottom: -20px;
		right: -5px;
	}//end menubreak
  @include contentStop{
    width: calc(100% - 342px);
  }
}//end main nav