/* ===============
	 TABLES
============== */
@use '../variables' as *;
@use 'sass:color';

%tableSort {
  color: $white;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-image: none;
  padding-left: 3rem;

  &:after {
    @include materialIconOutline(\e164);
    position: absolute;
    top: 0;
    left: -4px;
  }

  &:hover,
  &:focus {
    opacity: .6;
    color: $white;
  }

  .tablesort {
    background: none;
    float: none;
    position: absolute;
    top: 4px;
    left: -18px;
    margin-left: 5px;
    background-image: none;
    width: 2.25rem;
    height: 2.25rem;

    + :after {
      display: none;
    }

    &.tablesort--desc {
      &:after {
        @include materialIconOutline(\f1e3);
      }
    }

    &.tablesort--asc {
      &:after {
        @include materialIconOutline(\f1e0);
      }
    }
  }
}

%tableSortActive {
  background: color.adjust($tableHeaderBack, $lightness: 6%);
  border-top-color: color.adjust($tableHeaderBack, $lightness: 6%);
  border-bottom-color: color.adjust($link, $lightness: 10%);

  &>a {
    color: $white;

    &:after {
      content: none;
    }
  }
}

/* DEFAULT TABLE STYLES
-------------------------- */
@mixin table {
  width: 100%;
  border-spacing: unset;
  border: 1px solid $rowBorder;
  display: table;
  table-layout: fixed;

  caption {
    font-weight: $heavy;
    margin-bottom: $spaceXs;
  }

  td {
    padding: 1rem 2rem .5rem;
    font-size: 2rem;
    vertical-align: top;

    &:first-child {
      padding-left: 3.5rem;
    }

    &:last-child {
      padding-right: 3.5rem;
    }
  }

  thead {
    width: 100%;

    tr {
      width: 100%;
    }

    th {
      background: $tableHeaderBack;
      color: $tableHeaderText;
      padding: 2.5rem 2rem;
      text-align: left;
      border-bottom: 3px solid $tableHeaderBack;
      vertical-align: top;
      max-width: 67%;

      a {
        @extend %tableSort;
      }

      &.is-active {
        @extend %tableSortActive;
      }

      &:first-child {
        padding-left: 3.5rem;
      }

      &:last-child {
        padding-right: 3.5rem;
      }

      &:not(:last-child){
        border-right: 1px solid rgba(255,255,255,0.4);
      }
    }
  }

  tbody {
    width: 100%;

    tr {
      width: 100%;

      td{
        &:not(:last-child){
          @include tab{
            border-right: 1px solid $midGrey;
          }
        }
      }
      
      &:not(:last-child) td {
        border-bottom: 1px solid $rowBorder;
      }

      &:nth-of-type(odd) {
        background: $oddRowBack;

        td {
          color: $oddRowText;
        }
      }

      &:nth-of-type(even) {
        background: $evenRowBack;

        td {
          color: $evenRowText;
        }
      }

      th {
        background: $tableRowHeaderBack;
        color: $tableRowHeaderText;
        text-align: left;
        padding-left: 3.5rem;
        padding-right: 2rem;
      }

      &:not(:last-child) {
        th {
          border-bottom: 1px solid $rowBorder;
        }
      }

      // Give a bit extra room in the row on mobile.
      @include onlyMobile {
        td {
          padding: 1rem $siteMarginMobile;
        }

        //style headers
        &>td.st-key {
          text-transform: uppercase;
          font-weight: $heavy;
        }
      }
    }
  }

  // Responsive Tables uses bt for mobile styles.
  &.bt {
    &.no-header {
      tbody {
        tr:first-child {
          display: none;
        }
      }
    }

    tbody {
      tr:last-child {
        td:not(:last-child) {
          border-bottom: 1px solid $borderRule;
        }
      }

      tr:nth-of-type(odd) td:before {
        background: $tableHeaderBack;
        color: $tableHeaderText;
      }

      td {
        padding: 0 !important;

        &:before {
          content: attr(data-th);
          border-right: 1px solid $borderRule;
          background: $tableRowHeaderBack;
          color: $tableRowHeaderText;
          padding: 1rem 3rem;
        }

        span.bt-content {
          padding: 1rem 3rem;
        }
      }

    }
  }
}
