/* ==================
    global views settings
==================== */

@use '../variables' as *;
@use 'layout-mixins' as *;

@mixin viewsTitle {
  @include heading4;
  margin-bottom: $spaceXxs;
}

@mixin viewsMeta {
  @include metaText;
  margin-bottom: $spaceSm;
}

@mixin leafletPopup {
  .leaflet-container {
    a.leaflet-popup-close-button {
      font: 20px / 28px Tahoma, Verdana, sans-serif;
      color: $blue;
      line-height: 36px;
      width: 36px;
      height: 36px;
      &:hover {
        color: $black;
        background: rgba(35,35,35,0.2);
      }
    }
    .leaflet-map-pane {
      .leaflet-popup.info-box{
        // bottom: 0 !important;
        // left: 0 !important;
        // height: 100%;
        // margin-bottom: 0;
        .leaflet-popup-content-wrapper {
          border-radius: 0;
          background: rgba(226,245,251,0.9);
          // height: 450px;
          .leaflet-popup-content {
            // width: 240px !important;
            padding-top: 20px;
            padding-bottom: 0;
          }
        }
        .leaflet-popup-tip {
          background: rgba(226,245,251,0.85);
        }
      }
    }
  }
  .leaflet-pane.leaflet-citizen-custom-world-layer-pane {
    z-index: 88 !important;
    svg,path {
      fill-opacity: 0;
    }
  }

  .citizen-custom-country-tooltip {
    font-size: 1.75rem;
    padding: 10px 14px;
    border-radius: 6px;
    background: rgba(0, 32, 73, 0.95);
    color: #fff;
    max-width: 280px;
    min-width: 240px;
    border: 0;
    box-shadow: 4px 4px 6px rgba(35,35,35,0.4);
    .country-name {
      font-family: $displayHeader;
      text-transform: uppercase;
      font-weight: $heavy;
      font-size: 2rem;
    }
    .citizen-custom-demographics {
      margin-top: 8px;
      font-size: 14px;
      line-height: 1.3;
      width: 100%;
      .demographic {
        display: block;
        margin-top: 4px;
        white-space: normal;
        width: 100%;
      }
    }
  }
}
