/* ==================
    global views settings
==================== */

@use '../variables' as *;
@use 'layout-mixins' as *;

@mixin viewsTitle {
  @include heading4;
  margin-bottom: $spaceXxs;
}

@mixin viewsMeta {
  @include metaText;
  margin-bottom: $spaceSm;
}

@mixin leafletPopup {
  .leaflet-container {
    a.leaflet-popup-close-button {
      font: 20px / 28px Tahoma, Verdana, sans-serif;
      color: $blue;
      line-height: 36px;
      width: 36px;
      height: 36px;
      &:hover {
        color: $black;
        background: rgba(35,35,35,0.2);
      }
    }
    .leaflet-map-pane {
      .leaflet-popup.info-box{
        bottom: 0 !important;
        left: 0 !important;
        height: 100%;
        margin-bottom: 0;
        .leaflet-popup-content-wrapper {
          border-radius: 0;
          background: rgba(226,245,251,0.8);
          height: 450px;
          .leaflet-popup-content {
            width: 240px !important;
            padding-top: 40px;
            padding-bottom: 40px;
          }
        }
      }
    }
  }
}
