/* =================
   PARAGRAPH ACCORDIONS
=================== */

@use '../../../00-base/00-variables/component-colors' as *;
@use '../../../00-base/00-variables/fonts' as *;
@use '../../../00-base/00-variables/units' as *;
@use '../../../00-base/01-mixins/animation-mixins' as *;
@use '../../../00-base/01-mixins/breakpoint-mixins' as *;
@use '../../../00-base/01-mixins/layout-mixins' as *;

.paragraph--accordions {
  @include textConstrain;

  .paragraph--accordions__title {
    margin-bottom: $spaceXs;
  }

  .paragraph--accordions__item {
    .paragraph--accordions__toggle {
      width: 100%;
      text-align: left;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 1rem;
      scroll-margin-top: $spaceSm;
      padding: 2rem 3.5rem;
      color: $accordHeader;
      font-weight: $heavy;
      font-size: 2.5rem;
      border: 2px solid $accordHeaderBorder;
      margin-top: -2px; // collapse double borders between adjacent items
      background: $accordHeaderBack;

      @include tab {
        padding: 2rem 4.5rem;
        font-size: 2.75rem;
      }

      &:hover,
      &:focus {
        color: $accordHeaderHover;
        background: $accordHeaderBackHover;
        border-color: $accordHeaderBorderHover;
        @include transAll(.3s);
      }
    }

    .paragraph--accordions__label {
      flex: 1 1 auto;
    }

    .paragraph--accordions__icon {
      flex: 0 0 auto;
      display: inline-flex;
      align-items: center;

      svg {
        width: 2.4rem;
        height: 2.4rem;
      }
      &--minus {
        display: none;
      }
    }

    .paragraph--accordions__panel {
      transition: max-height 0.6s ease-out;
      max-height: 0;
      overflow: hidden;

      .paragraph--accordions__body {
        padding: 4rem 3rem;
        background: $accordContentBack;
      }
    }

    &.is-expanded {
      .paragraph--accordions__toggle {
        color: $accordActive;
        background: $accordActiveBack;
        border-color: $accordActiveBorder;
        border-bottom: 0;

        &:hover,
        &:focus {
          color: $accordActiveHover;
          background: $accordActiveBackHover;
          border-color: $accordActiveBorderHover;
        }
      }

      // Swap icon visibility on expanded state.
      .paragraph--accordions__icon--plus {
        display: none;
      }

      .paragraph--accordions__icon--minus {
        display: inline-flex;
      }
    }
  }
}
