{#
/**
 * @file
 * Theme override of a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 */
#}


{% extends 'block.html.twig' %}


{% block blockContent %}
  {{ attach_library('citizen_sdc/search-block') }}
  <div class="block--site-search__toggle--open">
    <button class="block--site-search__trigger--open" aria-label="{{ "Toggle Search"|t }}" aria-controls="search-form-wrapper">
      <span class="material-icons">&#xE8B6;</span>
    </button>
  </div>
	<div class="block--site-search__toggle--close">
    <button class="block--site-search__trigger--close" role="button" aria-label="{{ "Close Search"|t }}" aria-controls="search-form-wrapper">
      <span class="material-icons">&#xE5CD;</span></button>
  </div>
	<div id="search-form-wrapper" aria-hidden="true">
  	{% block searchForm %}
		  {{ content }}
		{% endblock %}
	</div>
{% endblock %}
