/* ===============
   ACCORDIONS
================= */
@use '../../../00-base/base' as *;
@use '../../../01-parts/buttons/button-mixins' as *;

.paragraph--type--accordions{
	max-width: $contentConstrain;
  @include auto;
}

/* ITEM STYLING
------------------- */
.accordion-item{
  max-width: $contentConstrain;
  @include auto;
  border-bottom: 1px solid $accordHeaderBorder ;
  .navy &,.blue &{
    border-bottom-color: $white;
  }
  &.accord-active{
    .accordion-header{
      a{
        &:after{
          @include rotate(180);
        }
      }
    }
  }//end active accordion
	//accordion header bar
	.accordion-header{
		a{
			padding: 2.5rem 0 2.5rem 60px;
			display: block;
			color: $accordHeader;
			font-weight: $heavy;
			position: relative;
			font-size: 4rem;
      line-height: 1.1;
      font-family: $header;
			background: $accordHeaderBack;
			@include tab{
				padding-left: 72px;
			}
			&:after{
				position: absolute;
				left: 0;
				top: 2.5rem;
				content: "";
        display: block;
        width: 32px;
        height: 32px;
        -webkit-mask: url(../images/elements/caret-down.svg) no-repeat 50% 50%;
        mask: url(../images/elements/caret-down.svg) no-repeat 50% 50%;
        -webkit-mask-size: 32px;
        mask-size: 32px;
        background-color: $lightBlue;
        transition: transform .3s ease-out;
        .navy &,.blue &{
          background-color: $white;
        }
			}//end after
			&:hover,&:focus{
				color: $accordHeaderHover;
				background: $accordHeaderBackHover;
				border-color: $accordHeaderBorderHover;
				@include transAll(.3s);
        .light-gray &{
          background: darken($lightGrey,5%);
        }
        .blue &,.navy &{
          opacity: 1 !important;
          background: rgba($white, .2);
        }
			}//end hover/focus
      .checklist-number{
        margin-right: .25em;
      }
		}//end a
	}//end accordion header

	//accordion content
	.field-long-text{
		@include showContent(5000px,.6s);
    @include tab{
      @include safeFlex(row,nowrap,start,start);
      gap: 40px;
    }
    @include desk{
      gap: 70px;
    }
    @include contentStop{
      gap: 100px;
    }
    & > .field-image{
      max-width: 550px;
      @include tab{
        flex: 0 0 352px;
        order: 2;
        margin-bottom: $spaceLg;
      }
    }
		.inner-text{
			padding: 2.5rem 0;
      width: 100%;
      @include desk{
        padding-top: 1rem;
        padding-left: 72px;
      }
      & > *:not(.teasers-grid){
        max-width: $textMax;
      }
      p{
        margin-bottom: $spaceXs;
      }
      .field-button a{
        @include button;
        background-color: $lightBlue;
        color: $white;
        .blue &,.navy &{
          background-color: $buttonBack;
        }
        &:after{
          content: '';
          display: inline-block;
          width: 11px;
          height: 11px;
          @include textLinkArrow;
          position: relative;
          right: 0;
          margin-left: .75em;
          .blue &,.navy &{
            color: $black;
          }
        }
      }
		}//end inner text
	}//end field long text
}//end accordion-item

