/* ==================
	BLOCKS INDEX
=================== */

@use '../../../00-base' as *;


// no english
.block-7 {
  .field.body {
    text-align: center;
    @include tab {
      @include safeFlex(row,nowrap,center,center);
      gap: 32px;
      text-align: left;
    }

    h2{
      margin-bottom: $spaceXs;

      @include tab {
        margin-bottom: 0;
      }
    }

    svg.tel {
      display: none;
    }

    a.ec-button {
      position: relative;
      padding-left: 68px;
      font-size: 22px;
      margin-bottom: 0;

      &:hover,&:focus,&:active {
        &:before{
          background-color: $black;
        }
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        left: 20px;
        top: 10px;
        background-color: $white;
        -webkit-mask-image: url(../images/elements/phone.svg);
        mask-image: url(../images/elements/phone.svg);
        background-size: 40px;
        background-repeat: no-repeat;
      }
    }
  }
}

// administrative center
.block-1 {

  .field.body {
    @include onlySmall {
      max-width: 196px;
      @include auto;
    }
  }

  ul:not(.contextual-links) {
    @include listReset;
  }

  svg.tel {
    display: none;
  }
}

.block-footer-menu {

  ul:not(.contextual-links) {
    @include listReset;
    @include onlySmall {
      max-width: 140px;
      @include auto;
    }

    li {
      position: relative;

      a {
        display: block;
        color: $prefooterLink;

        .footer-v1 & {
          text-decoration: underline;
        }

        &:hover,
        &:focus {
          color: $prefooterLinkHover;
          @include transAll(.3s);

          .footer-v1 & {
            text-decoration: none;
          }
        }
      }
    }
  }
}

/* COPYRIGHT
-------------- */
.block-4 {
  .copyright {
    text-align: center;
    font-size: 2rem;

    @include tab {
      text-align: left;
    }

    & > span:first-child {
      padding-right: .25em;

      & + * {
        display: inline;
      }
    }

    p {
      margin: 0;
    }
  }
}

.block-social-media-links {
  .field-platforms .platform-links {
    @include safeFlex(row, wrap, center, start);
    @include tab {
      @include safeFlex(row, wrap, start, start);
    }
  }
}

/* Ancillary Menu
-------------- */
.block-ancillary-menu {
  ul:not(.contextual-links) {
    @include listReset;
    @include safeFlex(row,wrap,center,start);
    gap: 2rem;
    
    @include tab {
      justify-content: start;
    }

    li {
      position: relative;

      a {
        display: block;
        color: $footerLink;
        font-size: 14px;

        &:hover,
        &:focus {
          color: $footerLinkHover;
          @include transAll(.3s);

        }
      }
    }
  }
}
