/* =================
   FOOTER BLOCK
=================== */
@use '../../../00-base' as *;
@use 'sass:color';

/* Copyright
-------------- */
.block-1 {
  font-size: 2rem;
  line-height: 1.7;
}

/* Footer Menu
-------------- */
.block-footer-menu {

  ul:not(.contextual-links) {
    @include listReset;
    display: flex;
    column-gap: 2rem;
    li {
      position: relative;

      a {
        color: $prefooterLink;
        font-size: 2rem;

        &:hover,
        &:focus {
          background-color: color.adjust($blue,$lightness: 5%);
          color: $prefooterLinkHover;
          @include transAll(.3s);
        }
      }
    }
  }
}

/* Social 
-------------- */
.block-social-media-links {
  a {
    &:hover,&:focus {
      color: $navy;
      circle {
        fill: $lightBlue;
      }
    }
  }
}

/* Copyright
-------------- */
.block-4 {
  .copyright {
    text-align: center;
    font-size: 1.75rem;

    @include tab {
      text-align: left;
    }

    & > span:first-child {
      padding-right: .25em;

      & + * {
        display: inline;
      }
    }

    p {
      margin: 0;
    }
  }
}

/* Ancillary Menu
-------------- */
.block-ancillary-menu {
  ul:not(.contextual-links) {
    @include listReset;
    display: flex;
    flex-wrap: nowrap;
    column-gap: 2rem;

    li {
      position: relative;

      a {
        display: block;
        text-transform: uppercase;
        color: $prefooterLink;
        font-size: 1.75rem;

        &:hover,
        &:focus {
          color: $prefooterLinkHover;
          @include transAll(.3s);
          background-color: $navy;
        }
      }
    }
  }
}
