/* =================
   SOCIAL MEDIA LINKS
=================== */
@use '../../../00-base' as *;

.block-social-media-links {
  .field.body {
    margin-bottom: $spaceSm;
  }

  .platform-links {
    @include onlySmall {
      @include safeFlex(row, wrap, center, start);
    }
    .node-content & {
      @include safeFlex(row, wrap, center, start);

      a {
        &:hover,&:focus{
          @include transAll(.3);
          svg {
            fill: $black;
          }
          .cls-1{
            fill: $buttonBackHover;
          }
        }
      }

      svg {
        width: 48px;
        height: 48px;
        fill: $white;
      }

      .cls-1 {
        fill: $red; 
      }
    }
  }
}
