{#
/**
 * @file
 * Shared template for 4xx error pages. Auto-suggested by Drupal core for
 * any 401/403/404. The 403 and 404 displays extend this template and override
 * the `errorTitle` and `errorMessage` blocks.
 */
#}
{% extends "page.html.twig" %}

{% block pageContent %}
  <div class="main-content__non-node-page main-content__error-content">
    <h1>{% block errorTitle %}{{ "Error"|t }}{% endblock %}</h1>
    {% block errorMessage %}
      <p>{{ "An error occurred while loading this page."|t }}</p>
    {% endblock %}
  </div>
{% endblock %}
