/* =================
   VIEWS — SITE SEARCH RESULTS
=================== */

@use '../../../../00-base/00-variables/colors' as *;
@use '../../../../00-base/00-variables/component-colors' as *;
@use '../../../../00-base/00-variables/fonts' as *;
@use '../../../../00-base/00-variables/units' as *;
@use '../../../../00-base/01-mixins/layout-mixins' as *;

.view--site-search--site-search-block {
  .view__content,
  .view__empty {
    @include auto;
    margin-bottom: $elementSpace;
    max-width: $textMax;
    width: 100%;
  }

  .views-row {
    &:not(:last-child) {
      margin-bottom: $elementSpace;
    }
    .node-search-result__meta-description .search-highlight {
      font-weight: $heavy;
    }
  }

  .pager {
    @include auto;
    max-width: $textMax;
  }
}
