/* ============
   PAGES GLOBAL
=============== */

@use '../../00-base/base' as *;

html > body:not(.is-front):not(.path-node) {

	.layout-content {
		max-width: $contentStop + px(40);
		@include auto;
		padding: 0 $siteMarginMobile $siteBottomSpace;
	}

	#block-mstate-content {
		padding-top: $elementSpace;
	}

	.block-page-title-block {
		margin-bottom: $elementSpace;
	}
}//system pages

.is-front{
  .layout-container{
    background-image: url(../images/logos-badges/m-grey.svg);
    background-repeat: no-repeat;
    background-size: 2468px;
    background-position: 50% 0;
    @include desk{
      background-size: 2810px;
      background-position: 50% 42%;
    }
    @include midScreen{
      background-size: 4000px;
      background-position: 50% 71%;
    }
  }
}