/* ===============
  SECONDARY MENU
================= */

@use '../../../00-base/00-variables/component-colors' as *;
@use '../../../00-base/00-variables/fonts' as *;
@use '../../../00-base/00-variables/units' as *;
@use '../../../00-base/01-mixins/breakpoint-mixins' as *;
@use '../../../00-base/01-mixins/style-mixins' as *;
@use '../../../00-base/01-mixins/type-mixins' as *;

/* MOBILE MENU TOGGLE
------------------ */
#main-nav-toggle {
  height: 40px;
  width: 40px;
  position: absolute;
  top: -6px;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  @include desk{
    display: none;
  }

  &.open {
    
  }
}

/* GLOBAL
------------ */
#menu-main {
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 497;
  font-family: $header;
  font-weight: $heavy;
  letter-spacing: 1px;

  ul {
    list-style-type: none;
    display: none;
  }

  li {
    list-style: none;
    position: relative;
  }
}

/* MOBILE-SPECIFIC
------------------ */
@include mobileMenu {

  #menu-main {
    background: $mmMobileDrop;
    border-bottom: 8px solid $mmMobileDropBorder;
    left: -$siteMargin;
    overflow: hidden;
    position: absolute;
    top: calc(100% + 20px);
    text-align: left;
    width: calc(100% + $siteMargin * 2);

    &:not(.accordion--open) {
      display: none;
    }

    .menu-item__toggle {
      @include menuItemToggle;
    }

    .open {
      & > .menu-item__toggle {
        &:after {
          transform: rotate(180deg);
          transition: transform .5s ease;
        }
      }
    }

    // top level mobile
    .menu-item__level-1 {
      &:not(:last-child) {
        border-bottom: 1px solid $mmMobileItemBorder;
      }

      & > .menu-item__link {
        background: $mmMobileTopBack;
        color: $mmMobileTop;
        padding: 2.5rem 4rem;
        line-height: 1.15;
        font-size: 2.25rem;
        display: block;
        position: relative;

        &:hover,&:focus {
          text-decoration: none;
        }

        &.menu-item__link--active {
          color: $mmMobileChildActive;
        }
      }

      &.open {
        & > .menu-item__link {
          color: $mmMobileTopExpanded;
          background: $mmMobileTopBackExpanded;
        }
      }

      ul {
        padding-bottom: 3rem;
        padding-left: 2rem;
        background-color: $mmMobileTopBackExpanded;
      }
    }

    //second level & below
    .menu-item__level-2 {

      .menu-item__link {
        line-height: 1;
        font-size: 2rem;
        padding: 1.5rem 2rem;
        color: $mmMobileChild;
        display: block;
        &:hover,&:focus {
          text-decoration: none;
        }

        &.menu-item__link--active {
          color: $mmMobileChildActive;
        }
      }
    }

    .menu-item__level-3 {
      .menu-item__link {
        font-size: 1.75rem;
      }
    }
  }
}

/* DESKTOP SPECIFIC
---------------- */
@include deskMenu {
  #menu-main {
    column-gap: 24px;

    // top level
    .menu-item__level-1 {
      &.open {
        & > ul {
          display: block;
        }
      }

      &.menu-item--active-trail {
        &:hover,&:focus {
          & > .menu-item__link,& > .menu-item__toggle {
            color: $mmTopActiveHover;
          }
        }

        & > .menu-item__link,& > .menu-item__toggle {
          color: $mmTopActive;
        }
      }

      & > .menu-item__link {
        background: $mmTopBackHover;
        color: $mmTopLink;
        padding: 1.5rem 1.5rem;
        line-height: 1.15;
        font-size: 1.75rem;
        display: block;
        position: relative;

        &:not(.menu-item__link--menuparent):before {
          content: '';
          display: block;
          width: 0;
          height: 2px;
          position: absolute;
          top: 100%;
          left: 0;
        }
      }

      //first level dropdown
      & > ul {
        display: none;
        padding: 0 0 2.5rem;
        background: $mmDropdown;
        left: 0;
        padding: 2.5rem 0 0;
        position: absolute;
        top: 100%;
        width: 200px;
      }
    }

    // second level and below
    li.menu-item__level-2 {
      &.menu-item--active-trail {
        color: $mmChildActive;
      }

      &:hover,&:focus {
        color: $mmChildActiveHover;
      }

      &.open {
        & > ul {
          display: block;
        }

        &:first-child {
          & > ul {
            top: -10px;
          }
        }
      }

      ul {
        background: $mmDropdown;
        left: 100%;
        margin: 0;
        padding: 5px 0 15px;
        position: absolute;
        top: 0px;
        min-width: 200px;

        &.right-to-left {
          left: auto;
          right: 100%;
        }
      }

      a {
        display: inline-block;
        line-height: 1.2;
        padding: 1.5rem 2.5rem;
        font-size: 1.75rem;
        color: $mmChildLink;

        &:hover,
        &:focus {
          color: $mmChildLinkHover
        }

        &.menuparent {
          &:after {
            content: '';
            display: inline-block;
            position: relative;
            right: 0;
            margin-left: 1rem;
            height: 8px;
            width: 8px;
            background-image: none;
            background-image: url(../images/elements/menu-caret-right.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            transition: transform 0.3s ease-out;
          }
        }

        &.menu-item-expand {
          display: none;
        }
      }
    }
  }
}
