{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}

{% extends 'breadcrumb.html.twig' %}

{% block trail %}
  {{ parent() }}
  <li>
    <a href="{{ path('entity.node.canonical',{'node':10}) }}">News</a>
  </li>
  <li>{{ currentNode.title.value }}</li>
{% endblock %}
