/* ===============
   PORTALS WIDGET
================= */

@use '../../../00-base' as *;

.paragraph--type--portals {
  .field-portals {
    margin-bottom: -$spaceMd;
    @include safeFlex(row, wrap, center, start);
    @include bleed(padding, 32px);

    @include tab {
      @include bleed(padding, 60px);
    }

    & > div {
      margin-bottom: $spaceMd;
      max-width: 308px;
      width: 100%;

      @include tab {
        max-width: 50%;
      }
    }

    a {
      text-decoration: none;

      &:hover,
      &:focus {
        .field-image img {
          border-color: $borderRule;
          opacity: .7;
          @include transAll(.3s);
        }

        .field-headline {
          text-decoration: underline;
        }
      }
    }

    .field-image {
      margin-bottom: $spaceXxs;

      @include tab {
        margin-bottom: $spaceSm;
      }

      img {
        border: 1px solid $offWhite;
      }
    }

    .field-headline {
      @include heading3;
      text-align: center;
      font-family: $displayHeader;
    }

    .field-long-text {
      margin-top: $spaceXs;
      font-size: 2rem;
    }
  }
}
