/* ===============
   LINKS N FILES WIDGET
================== */

@use '../../../00-base' as *;

.paragraph--type--links-files {
  @include textConstrain;

  .links-files {
    margin-top: 2.5rem;

    &.multi-col {
      @include smallTab {

        .node-section > .layout.one-column &,
        .widget-section > .layout--onecol &,
        .node-support-book & {
          @include cssColumns(2, 4rem, nobreak);
        }
      }
    }

    & > div {
      margin-bottom: 1rem;
    }
  }
}
