/* ==================
    ALERTS VIEWS
==================== */

@use '../../../00-base' as *;

/* ALL BIOS
------------- */
.alerts.block-1 {
  .view-content {
    margin-bottom: $spaceMd;
  }

  .views-row {
    padding: 16px 6rem;
    font-size: 19px;
    text-align: center;
    color: $white;
    position: relative;
    z-index: 0;

    &:after{
      @include fullBack(#fc0202);
    }

    & + .views-row{
      padding-top: 20px;
      &:after{
        border-top: 4px solid $white;
      }
    }
    
    .views-field-body .field-content{
      & > *:last-child{
        margin-bottom: 0;
      }
    }

    a{
      color: $white;
      &:not(.close-x) {
        text-decoration: underline;
      }
      &.close-x{
        position: absolute;
        top: 10px;
        right: 0;
        @include safeFlex(column,nowrap,center,center);
        width: 24px;
        height: 24px;
        border-radius: 50%;
      }

      &:hover,&:focus{
        color: $transWhite;
        text-decoration: none;

        &.close-x{
          background: $transWhite;
          color: $black;
        }
      }
    }

    &.urgency-2 {
      color: $black;

      &:after{
        background: $yellow;
      }
      

      a{
        color: $black;
        &:not(.close-x) {
          text-decoration: underline;
        }
  
        &:hover,&:focus{
          color: $transBlack;
          &:not(.close-x) {
            text-decoration: none;
          }
        }
      }
    } 

    &.urgency-3 {
      &:after{
        background: $darkBlue;
      }
    } 
  }
}
