/* =================
   VIEWS — BIOS 
=================== */

@use '../../../../00-base/00-variables/colors' as *;
@use '../../../../00-base/00-variables/units' as *;
@use '../../../../00-base/01-mixins/breakpoint-mixins' as *;
@use '../../../../00-base/01-mixins/layout-mixins' as *;
@use '../../../../00-base/01-mixins/views-mixins' as *;

.view--bios--all-bios {
  padding-bottom: $elementSpace;
  max-width: $contentStop;
  @include auto;

  #views-form-wrapper {
    padding: 3rem 4rem 5rem;
    background: $lightBlue;
    @include formLayout;

    .form-item {
      @include smallTab {
        max-width: 320px;
      }
    }
  }

  .view__content {
    gap: $spaceMd 40px;
  }

  .views-row {
    text-align: center;

    @include smallTab {
      width: calc(50% - 20px);
    }

    @include tab {
      width: calc(33.33% - 27px);
    }

    @include desk {
      width: calc(25% - 30px);
    }
  }
}
