/* ===========================
  BASE COLORS
=============================   */

$offWhite : #f6f6f6;
$lightGray : #ededed;
$gray : #ccc;
$midGray : #615f6b;
$darkGray : #37363b;
$black : #000;
$lightBlue : #f2f9fb;
$lightBlue2 : #dceff4;
$lightBlue3 : #6ec0d8;
$blue : #25649e;
$darkBlue : #0c2f48;
$navy : #03202e;
$brightRed : #dd241b;
$red : #bf0e0e;
$gold : #febb2b;
$white : #fff;
$adminPink : #f8e8f1;

$transBlack : rgba(35, 35, 35, 0.7);

/* ADMINS - do not customize per site */
$adminGold : #fcd105;
$adminWhiteGold : #fefbc7;
$adminFuchsia : #c028bb;
$adminGreen : #018901;
$adminGray : #676767;

/* Highlight colors */
$redText : #e71313;
$greenText : #128a00;
$yellowMarker : #fff01f;
$greenMarker : #62f962;
$pinkMarker : #fc7899;
$blueMarker : #72ccfd;


